.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  .breadcrumbs__item:last-child {
    .breadcrumbs__link {
      text-decoration: none;
      pointer-events: none;
      color: $brand;
    }
  }
}
.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 13px;
    margin: 0 3px 0 4px;
    content: '/';
    color: #969696;
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.breadcrumbs__link {
  font-family: $font-light;
  font-size: 13px;
  white-space: nowrap;
  text-decoration: none;
  color: #969696;
  &:hover {
    text-decoration: none;
    color:$brand;
  }
}
