.footer {
  padding: 80px 0;
  background-color: $title;
  .container-lg {
    display: flex;

    @include max(1000) {
      flex-wrap: wrap;
    }
  }
}
.footer-item {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-right: 50px;

  @include max(1360) {
    width: auto;
    min-width: 170px;
    padding-right: 30px;
  }
  @include max(1000) {
    width: 33.3333%;
    margin-bottom: 30px;
    &:nth-child(4) {
      width: 66.6666%;
    }
  }
  @include max(600) {
    padding-right: 0;
    &:nth-child(1) {
      width: 100%;
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 50%;
    }
    &:nth-child(4) {
      width: 100%;
    }
  }
  &:last-child {
    padding-right: 0;
  }
}
.footer-item__title {
  font-family: $font-medium;
  font-size: 20px;
  margin-bottom: 30px;
  color: #fff;
}
.footer-item__logo {
  margin-bottom: 10px;
  text-decoration: none;
  color: $title;
  .footer-item__logo-colorful {
    display: none;
  }
}
.footer-item__logo-text {
  font-family: $font-light;
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
  color: #fff;
}
.footer-item__copyright {
  font-family: $font-light;
  font-size: 14px;
  color: #969696;
}
.footer-item__link {
  font-family: $font;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
    color: $brand;
  }
}
.footer-item__news {
  margin-bottom: 20px;
}
.footer-item__news-date {
  font-family: $font-light;
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
  color: #969696;
}
.footer-item__news-link {
  font-family: $font-light;
  font-size: 13px;
  line-height: 1.4;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}
.footer-item__phone {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 5px;
  a {
    font-family: $font-medium;
    font-size: 20px;
    line-height: 1.2;
    margin-right: 10px;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;
  }
  span {
    font-family: $font-light;
    font-size: 15px;
    color: #fff;

    @include max(1510) {
      width: 100%;
    }
  }
}
.footer-item__social {
  display: flex;
  align-items: center;
  margin-top: 30px;
  & a:hover {
    svg {
      fill: $text;
    }
  }
  svg {
    fill: #fff;
    max-width: 23px;
    max-height: 20px;
    margin-right: 30px;
    transition: fill .5s;
  }
}

// Стили для футера на главной странице
.main + .footer {
  background-color: #f4f4f6;
  .footer-item__logo-colorful {
    display: block;
  }
  .footer-item__logo-white {
    display: none;
  }
  .footer-item__logo-text {
    color: #000;
  }
  .footer-item__title {
    color: $title;
  }
  .footer-item__link {
    color: $text;
  }
  .footer-item__news-link {
    color: $title;
    &:hover {
      color: $title;
    }
  }
  .footer-item__phone {
    a {
      color: $title;
    }
    span {
      color: $text;
    }
  }
  .footer-item__social {
    & a:hover {
      svg {
        fill: $brand;
      }
    }
    svg {
      fill: #c8c8c8;
    }
  }
}
