.map {
  height: 840px;
}
.map-advantage {
  position: relative;
}
.map__header {
  position: absolute;
  top: 210px;
  right: 0;
  left: 0;
}
.map__title {
  font-family: $font-medium;
  font-size: 35px;
  margin-bottom: 30px;
  color: $title;
}
.map-select__wrap {
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 60px;
    content: '';
    pointer-events: none;
    background-color: #fff;
    background-image: url('../img/select-arr-2.png');
    background-repeat: no-repeat;
    background-position: 0 54%;
  }
}
.map-select {
  font-family: $font-medium;
  font-size: 17px;
  min-width: 400px;
  height: 60px;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  background-color: #fff;

  -webkit-appearance: button;
  @include max(480) {
    min-width: 280px;
  }
}
.map__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.map-banner {
  display: none;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(26, 26, 27, .1);
}
.map-banner__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 27px;
  height: 27px;
  cursor: pointer;
  border: 1px solid $highlight;
  border-radius: 50%;
  background-color: #fff;
  &::before,
  &::after {
    position: absolute;
    top: 6px;
    width: 1px;
    height: 13px;
    content: '';
    background-color: $highlight;
  }
  &::before {
    right: 12px;
    transform: rotate(45deg);
  }
  &::after {
    left: 12px;
    transform: rotate(-45deg);
  }
}
.map-banner__title {
  font-family: $font-medium;
  font-size: 20px;
  margin-bottom: 20px;
  color: $title;
}
.map-banner__adress,
.map-banner__phone {
  display: flex;
  margin-bottom: 10px;
  svg {
    flex: none;
    fill: $text;
    width: 18px;
    height: 18px;
    margin-right: 20px;
  }
  a {
    font-family: $font;
    font-size: 15px;
    text-decoration: none;
    color: $title;
  }
}
