extends ../_template

block variables
  - var title = 'PRC'
  - var descr = 'PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости.'
  - var pageHeaderTitle = 'Проверки организаций'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-03.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 01.06.2017
        .article-header__text
          p При выездной проверке должен присутствовать законный представитель вашей компании, который сможет письменно или устно дать ответы на вопросы инспектора. Сотрудник УВМ МВД уполномочен проверять документы у всех без исключения сотрудников, сверять сведения в разрешениях на работу с трудовыми документами компании, осуществлять фото и видео съемку.

        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Проверки организаций Управлением по вопросам миграции (ГУВМ МВД): как приготовиться
        p Миграционное законодательство Российской Федерации предусматривает два вида проверок:

        ul.article-sec__list
          li.article-sec__item 
            strong Выездная проверка
            =" "
            | в плановом или внеплановом порядке.
          li.article-sec__item 
            strong Документарная проверка
            =" "
            |без выезда в офис инспектора УВМ МВД: компания получает письменный запрос о предоставлении требуемых документов.

        p При выездной проверке должен присутствовать законный представитель вашей компании, который сможет письменно или устно дать ответы на вопросы инспектора. 
        
        p Сотрудник УВМ МВД уполномочен проверять документы у всех без исключения сотрудников, сверять сведения в разрешениях на работу с трудовыми документами компании, осуществлять фото и видео съемку.

        h4.article-sec__subtitle Обратите внимание

        p Правильно оформленное распоряжение, выданное начальником территориального подразделения УВМ МВД или его заместителем на проведение плановой или внеплановой проверки должно содержать ФИО и должности инспекторов, цели, сроки и основания для проверки, а также перечень требуемых документов. Если фамилия прибывшего инспектора, указанная в предъявленном служебном удостоверении, не совпадает с написанной в распоряжении, вы имеете полное право не допускать его на территорию организации.

        p Законный представитель компании имеет право быть в курсе всех действий инспектора.

        p В случае несогласия с результатами проверки, вы сможете направить возражения в вышестоящий орган, суд или прокуратуру, а также обжаловать действия инспекторов и обстоятельства, изложенные в акте.

        h4.article-sec__subtitle Как подготовиться?

        p Своевременно подавайте в УВМ МВД уведомления о приеме на работу / увольнении иностранных граждан. 
        p Установите корпоративное правило для всех мигрантов на рабочем месте всегда иметь при себе документы, удостоверяющие личность и легальность пребывания и трудоустройства на территории РФ.
        p Проверьте, в порядке и на месте ли:

        ul.article-sec__list
          li.article-sec__item регистрационные и уставные документы компании;
          li.article-sec__item штатное расписание с фактическим количеством работников;
          li.article-sec__item действующий договор аренды или документ о праве собственности на помещение (офис).

        h4.article-sec__subtitle Ответственность

        p В случае непредоставления или несвоевременного предъявления документов для проверки, индивидуальные предприниматели облагаются штрафом от 2000 до 4000 рублей, должностные лица – от 40 000 до 50 000 рублей, юридические лица – от 400 000 до 500 000 рублей.


    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 16.05.2017
          p Услуги аутсорсинга и аутстаффинга пришли на рынок России еще в конце XX века, однако многие до сих пор путают эти термины...
          a(href="/article-02.html").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 10.06.2017
          p В начале прошлого года федеральный закон №116 ввел в законодательное поле понятие заемного труда и теперь...
          a(href="/article-04.html").btn.btn-wr Посмотреть


        



  //end   content
  include ../sections/footer