extends ../_template

block variables
  - var title = 'PRC'
  - var descr = 'PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости.'
  - var pageHeaderTitle = 'Временный персонал'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-01.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 04.05.2017
        .article-header__text
          p Термин «временный персонал» на российском рынке появился сравнительно недавно. Его применяют для обозначения услуги использования сторонних трудовых ресурсов с целью оперативного решения бизнес задач в ограниченный срок и часто путают совершенно разные типы услуги. Рассмотрим особенности.
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Временный персонал: особенности, привлечение, использование

        p Термин «временный персонал» на российском рынке появился сравнительно недавно. Его применяют для обозначения услуги использования сторонних трудовых ресурсов с целью оперативного решения бизнес задач в ограниченный срок и часто путают совершенно разные типы услуги. Рассмотрим особенности.
        
        p 
          strong Временный персонал 
          =" "
          |(англ. temporary staffing) привлекается для сезонных работ, пиковых загрузок на производстве и в сфере обслуживания, краткосрочных проектов до пяти месяцев, на время болезни / декрета / отпуска штатного сотрудника. Качественный подбор подразумевает тщательную юридическую и документарную проверку каждого сотрудника.
        p 
          strong Аренда / лизинг персонала 
          =" "
          |(англ. – staff leasing) предполагает привлечение временного сотрудника на более длительные сроки. В этом случае персонал вступает в трудовые отношения с агентством, которое «сдает его в аренду» другим организациям.
        p 
          strong Аутстаффинг,
          =" "
          |или выведение сотрудников за штат (англ. outstaffing – внешний штат) – это услуга оформления персонала компании в штат агентства-оператора с фактическим сохранением рабочего места и функций, а также привлечение новых сотрудников, трудоустроенных в агентстве, для определенной работы в компании.
        p 
          |К
          =" "
          strong аутсорсингу 
          =" "
          |(англ. outsourcing – внешний источник) прибегают для передачи функций или отделов компании, например, IT, маркетинга, бухгалтерии, юридического департамента, или же для выполнения краткосрочного или долгосрочного проекта. Такие отношения регулируются договором подряда.

        p Преимущества привлечения временного персонала очевидны:
        ul.article-sec__list
          li.article-sec__item «быстрый» ресурс в нужном количестве на нужный срок,
          li.article-sec__item снижение расходов на соцпакеты,
          li.article-sec__item нет простоев работы из-за отпусков и больничных,
          li.article-sec__item возможность оценить потенциал сотрудника для постоянного трудоустройства без лишних обязательств.

        p Востребованность подобных услуг среди компаний России растет и поднимает вопросы рисков взаимодействия с «временщиками»: соответствия квалификации, безопасности и т.п. Здесь важен выбор правильного партнера-оператора. 

        p Агентство PRC несет ответственность за предоставляемый временный персонал: проверяет юридический статус всех кандидатов, тестирует профессиональные знания, оказывает помощь с проверяющими органами, юридическое и консультационное сопровождение, осуществляет быструю замену в случае форс-мажора.

        a(href="/about.html").btn.btn-wr Подробнее

    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 04.05.2017
          p Термин «временный персонал» на российском рынке появился сравнительно недавно. Его применяют для обозначения...
          a(href="/article-01.html").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 16.05.2017
          p Услуги аутсорсинга и аутстаффинга пришли на рынок России еще в конце XX века, однако многие до сих пор путают эти термины...
          a(href="/article-02.html").btn.btn-wr Посмотреть

  //end   content
  include ../sections/footer