extends ../_template

block variables
  - var title = 'PRC'
  - var descr = 'PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости.'
  - var pageHeaderTitle = 'Применение аутсорсинга'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-08.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 29.07.2017
        .article-header__text
          p «Взросление» и стабилизация прибыльности бизнеса в сфере связи ставит перед компаниями новые задачи по снижению операционных затрат и сохранению/наращиванию базы клиентов. Для их решения все более актуальным инструментом становится аутсорсинг – частичная или полная передача функций бизнеса сторонним специалистам или компаниям.
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Применение аутсорсинга в отрасли связи для стабилизации доходности бизнеса

        p «Взросление» и стабилизация прибыльности бизнеса в сфере связи ставит перед компаниями новые задачи по снижению операционных затрат и сохранению/наращиванию базы клиентов. Для их решения все более актуальным инструментом становится аутсорсинг – частичная или полная передача функций бизнеса сторонним специалистам или компаниям.

        h4.article-sec__subtitle Какие задачи может передать на аутсорсинг бизнес в области связи?

        ul.article-sec__list
          li.article-sec__item Построение и эксплуатация сети, 
          li.article-sec__item хранение данных,
          li.article-sec__item инженерные работы, 
          li.article-sec__item IT – стратегическое планирование и управления инфраструктурой, 
          li.article-sec__item техническая поддержка,
          li.article-sec__item биллинг, 
          li.article-sec__item управления базой абонентов и отношениями с клиентами (CRM), 
          li.article-sec__item сервисные контракты и пр.

        p Аутсорсинг значительно сокращает операционные затраты (OPEX) и помогает прогнозировать расходы, например, на обслуживание сетей. Аутсорсер может обслуживать сразу несколько сетей бизнеса, и таким образом понизить стоимость обслуживания каждой. Мировой опыт показывает снижение эксплуатационных затрат при помощи аутсорсинга от 15 до 30%.

        p 
          |Различают 
          =" "
          strong три вида аутсорсинга:
          =" "
          | функциональный, операционный и ресурсный, каждый из них может быть полным или частичным. Функциональный аутсорсинг подразумевает передачу управления, при операционном передаются производственные задачи, в случае ресурсного аутсорсинга приобретаются внешние ресурсы взамен внутренних.

        h4.article-sec__subtitle Какие преимущества дает аутсорсинг?

        ul.article-sec__list
          li.article-sec__item Снижение затрат, повышение экономии на масштабе – 20-40% OPEX
          li.article-sec__item При совместном использовании сетевых ресурсов снижаются и капитальные расходы (CAPEX)
          li.article-sec__item Прогнозирование затрат: бизнес может планировать OPEX на годы вперед
          li.article-sec__item Отказ от владения в пользу аутсорсинга переводит CAPEX в OPEX
          li.article-sec__item Быстрый доступ к узким специалистам высокого класса, найм которых обойдется намного дороже.
          li.article-sec__item Схемы совместного распределения рисков: некоторые операторы покупают не оборудование, а емкость сети, например. При этом выплаты поставщику растут по мере роста прибыльности бизнеса оператора и таким образом разделяются инвестиционные риски.
          li.article-sec__item Упрощение процессов и структуры бизнеса
 
        p Компании опасаются прибегать к аутсорсингу из-за риска потери контроля, возможных ошибок подрядчика, нарушения конфиденциальности. Впрочем, от этих рисков никто не застрахован и в случае самостоятельного решения всех задач.

        p Критически важным становится выбор партнера и тщательно продуманный контракт, в котором будут детально прописаны все обязанности исполнителя, инструменты финансового контроля. Важна и лояльность аутсорсера, т.к. могут возникнуть обстоятельства, требующих больше, чем формального решения обусловленных контрактом задач. 

        p В любом случае, аутсорсинг – это важная тактическая и стратегическая мера, необходимая для развития бизнеса и повышения его прибыльности, и решение о ее применении требует взвешенного подхода.


    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 18.07.2017
          p Персонал из других государств оформляется в штат с особым пакетом документов, куда входит патент / разрешение на проживание...
          a(href="/article-07.html").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 08.08.2017
          p Основной целью схемы работы с персоналом, которую принято называть «аутстаффингом», является...
          a(href="/article-09.html").btn.btn-wr Посмотреть


        



  //end   content
  include ../sections/footer