extends ../_template

block variables
  - var title = 'PRC'
  - var descr = 'PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости.'
  - var pageHeaderTitle = 'Как происходит подбор персонала?'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-10.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 15.08.2017
        .article-header__text
          p Подбор персонала – один их ключевых этапов создания команды единомышленников, от которой будет зависеть не только успешность достижения целей бизнеса, но и само существование компании на рынке.
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Как происходит подбор персонала?

        p Подбор персонала – один их ключевых этапов создания команды единомышленников, от которой будет зависеть не только успешность достижения целей бизнеса, но и само существование компании на рынке.

        p Если данная функция поручается специализированному агентству, при выборе поставщика услуг подбора персонала следует обратить внимание на опыт и репутацию будущего подрядчика, гарантийные обязательства, портфолио клиентов, наличие собственной базы кандидатов, аккредитационные документы.

        h4.article-sec__subtitle Постановка задачи и варианты решения

        p Агентство помогает заказчику в анализе потребностей и предлагает наиболее удобные и выгодные для решения поставленной задачи варианты сотрудничества: рекрутинг, аутсорсинг, аутстаффинг или другие виды услуг (ссылки на соответствующие описания). После обсуждения задания и выбора оптимального пути решения, агентство приступает к работе.

        h4.article-sec__subtitle Поиск кандидатов

        p Для формирования потока резюме соискателей по заданным параметрам используются различные способы: 

        ul.article-sec__list
          li.article-sec__item анализ базы данных агентства, 
          li.article-sec__item объявления в специализированных СМИ, 
          li.article-sec__item интернет-ресурсы, 
          li.article-sec__item профессиональные сообщества и форумы, 
          li.article-sec__item рекомендации по итогам завершенных проектов и др.

        p Агентство может распространять информацию о вакансии под собственным брендом, если заказчик не хочет разглашать информацию о поиске персонала или условиях найма. 

        h4.article-sec__subtitle Собеседования

        p Вначале с кандидатами проводятся первичные интервью по телефону или через интернет. По их результатам для личного интервью отбираются заинтересованные в данной вакансии соискатели с достаточным профессиональным опытом.

        p На встрече оцениваются деловые и психологические качества кандидатов, при необходимости, используются специализированные тесты.

        p После этого проверятся достоверность всей предоставленной информации, в т.ч. рекомендательные письма, документы, подтверждающие квалификацию и т.п. Отбираются кандидаты, которые наиболее соответствуют запросам работодателя.

        p Агентство предоставляет заказчику структурированную информацию о наиболее подходящих соискателях, чей опыт, деловые и личные качества максимально соответствуют предъявляемым требованиям.

        p По итогам отбора работодатель встречается с лучшими кандидатами для финального интервью, после чего принимается окончательное решение о том, кто же заполнит открытую вакансию.

        h4.article-sec__subtitle Сотрудник выбран – что дальше? 

        p Агентство будет курировать нового сотрудника в течение оговоренного договором периода. 

        p Если заказчик и новый сотрудник в течение испытательного периода поймут, что не подходят друг другу, агентство гарантирует бесплатную замену.


    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 08.08.2017
          p Основной целью схемы работы с персоналом, которую принято называть «аутстаффингом», является сокращение рисков бизнеса. Каждый...
          a(href="/article-09.html").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 08.08.2017
          p Основной целью схемы работы с персоналом, которую принято называть «аутстаффингом», является сокращение рисков бизнеса. Каждый...
          a(href="/article-09.html").btn.btn-wr Посмотреть

  //end   content
  include ../sections/footer