// begin advantage
section.advantage
  .container
    .advantage__title.section-title Наши преимущества

    .advantage-slider
      ul.advantage-slider__list
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-01.jpg')")
          span
            |Большая база
            br
            |легальных соискателей
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-02.jpg')")
          span Оформление всех документов и работа с проверяющими органами
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-03.jpg')")
          span
            |Ведем крупные
            br
            |проекты с 2012 года
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-04.jpg')")
          span
            |Комплексность
            br
            |услуг
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-05.jpg')")
          span
            |Технологичность
            br
            br
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-06.jpg')")
          span
            |Высокая скорость
            br
            |оказания услуг
        li.advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-07.jpg')")
          span
            |Аккредитованное частное
            br
            |агенство занятости
        li.advantage-slider__item.last(style="background-image:url('assets/img/advantage-slider/advantage-08.jpg')")
          span
            |9 городов
            br
            |присутствия

// end   advantage