//begin callback-inn
.container
  h3.callback-sec__title Оставьте заявку
  span.callback-sec__subtitle
    |Каждая ситуация особенная.
    br
    |Оставьте ваше имя и способ связи с вами — наш менеджер свяжется с вами, чтобы обсудить все детали.
  form.callback-sec__form
    //- поле для выбора варианте сообщения
    input(type="hidden" name="nameform" value="callback-sec__form")
    //- поле для темы письма
    input(type="hidden" name="theme" value="Заявка")
    .callback-sec__form-inn
      .left
        input(type="text" name="name" placeholder="Ваше имя").phone-mask
        input(type="text" name="phone" placeholder="Номер телефона")
      .right
        textarea(name="message" placeholder="Комментарий")
    .callback-sec__checkbox
      input(type="checkbox" id="agree-callback" class="agree")
      label(for="agree-callback")
        |Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия 
        a(href="/agree.html") Пользовательского соглашения
    input(type="submit" value="Заказать звонок").btn.btn-rr
//end callback-inn