// begin clients-sec
section.clients-sec
  .clients-sec__wrap
    //  begin client item 01
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-01.jpg')")
        h3.clients-sec__cover-title KFC

      h3.clients-sec__title KFC
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 01

    //  begin client item 02
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-02.jpg')")
        h3.clients-sec__cover-title Pizza Hut

      h3.clients-sec__title Pizza Hut
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 02

    //  begin client item 03
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-03.jpg')")
        h3.clients-sec__cover-title Чайная ложка

      h3.clients-sec__title Чайная ложка
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 03

    //  begin client item 04
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-04.jpg')")
        h3.clients-sec__cover-title Деловые линии

      h3.clients-sec__title Деловые линии
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 04

    //  begin client item 05
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-05.jpg')")
        h3.clients-sec__cover-title Юлмарт

      h3.clients-sec__title Юлмарт
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 05

    //  begin client item 06
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-06.jpg')")
        h3.clients-sec__cover-title Типография Индустрия Цвета

      h3.clients-sec__title Типография Индустрия Цвета
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 06

    //  begin client item 07
    .clients-sec__item
      .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-07.jpg')")
        h3.clients-sec__cover-title ЦДС

      h3.clients-sec__title ЦДС
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#clock")
        | Постоянный партнер с 2012 года
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#document")
        | 12 000 трудовых контрактов
      span.clients-sec__item-adantage
        svg
          use(xlink:href="assets/img/sprite.svg#people")
        | Выход 40 человек в смену

      .clients-sec__breadcrumbs
        span Аутстаффинг
        span Аутсорсинг
        span Стажировка
        span Трудовая миграция
        span Охрана труда

      .clients-sec__review
        svg
          use(xlink:href="assets/img/sprite.svg#review")
        a(href="#") Читать отзывы
    //  end client item 07

    //  begin client item 08
    .clients-sec__item.clients-sec__item-last
      h3.clients-sec__title Все клиенты
      a(href="#").btn.btn-wr Посмотреть
    //  end client item 08

// end   clients-sec