//begin footer
footer.footer
  .container-lg
    .footer-item
      a(href="#").footer-item__logo
        img(src="assets/img/logo.png", alt="company logo")
      span.footer-item__logo-text Группа компаний
      span.footer-item__copyright &#169; 2017 Все права защищены

    .footer-item
      h4.footer-item__title Услуги
      a(href="#").footer-item__link Аутсорсинг
      a(href="#").footer-item__link Аутстаффинг
      a(href="#").footer-item__link Аудит
      a(href="#").footer-item__link Миграционный учет
      a(href="#").footer-item__link Охрана труда

    .footer-item
      h4.footer-item__title О компании
      a(href="#").footer-item__link Наши сотрудники
      a(href="#").footer-item__link Гарантии директора
      a(href="#").footer-item__link Города присутствия

    .footer-item
      h4.footer-item__title Пятничный менеджер
      .footer-item__news
        span.footer-item__news-date 15.10.2017
        a(href="#").footer-item__news-link Равным образом реализация намеченных плановых заданий играет важную роль в формировании условий активизации. 
      .footer-item__news
        span.footer-item__news-date 15.10.2017
        a(href="#").footer-item__news-link Равным образом реализация намеченных плановых заданий играет важную роль. 

    .footer-item
      .footer-item__phone
        a(href="tel:+8 495 909 94 98") 8 (495) 909-94-98
        span Москва
      .footer-item__phone
        a(href="tel:+8 812 490 70 36") 8 (812) 490-70-36
        span Санкт-Петербург
      .footer-item__social
        a(href="#")
          svg
            use(xlink:href="assets/img/sprite.svg#vk")
        a(href="#")
          svg
            use(xlink:href="assets/img/sprite.svg#fb")
        a(href="#")
          svg
            use(xlink:href="assets/img/sprite.svg#tw")


//end   footer