//begin footer
footer.footer
  .container-lg
    .footer-item
      a(href="/index.html").footer-item__logo
        img.footer-item__logo-colorful(src="assets/img/logo.png", alt="company logo")
        //- img.footer-item__logo-white(src="assets/img/logo-white.png", alt="company logo")
      span.footer-item__logo-text Группа компаний
      span.footer-item__copyright &#169; 2017 Все права защищены

    .footer-item
      h4.footer-item__title Услуги
      a(href="/autsorsing.html").footer-item__link Аутсорсинг
      a(href="/autstaffing.html").footer-item__link Аутстаффинг
      a(href="/audit.html").footer-item__link Аудит
      a(href="/migration.html").footer-item__link Миграционный учет
      a(href="/safety.html").footer-item__link Охрана труда

    .footer-item
      h4.footer-item__title О компании
      a(href="/about.html#about-personal").footer-item__link Наши сотрудники
      a(href="/about.html#about-director").footer-item__link Гарантии директора
      a(href="/about.html#about-map").footer-item__link Города присутствия

    .footer-item
      h4.footer-item__title Пятничный менеджер
      .footer-item__news
        span.footer-item__news-date 15.10.2017
        a(href="#").footer-item__news-link Равным образом реализация намеченных плановых заданий играет важную роль в формировании условий активизации. 
      .footer-item__news
        span.footer-item__news-date 15.10.2017
        a(href="#").footer-item__news-link Равным образом реализация намеченных плановых заданий играет важную роль. 

    .footer-item
      .footer-item__phone
        a(href="tel:+8 800 350 50 49") 8 (800) 350-50-49
        span Москва
      .footer-item__phone
        a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
        span Санкт-Петербург
      .footer-item__social
        a(href="#" style="pointer-events: none;")
          svg
            use(xlink:href="assets/img/sprite.svg#vk")
        a(href="#" style="pointer-events: none;")
          svg
            use(xlink:href="assets/img/sprite.svg#fb")
        a(href="#" style="pointer-events: none;")
          svg
            use(xlink:href="assets/img/sprite.svg#tw")

  include ../elements/popup
//end   footer
