// begin friday-sec
section.friday-sec
  .container
    h3.friday-sec__title.section-title Пятничный менеджер

  .friday-sec__wrap
    .friday-sec__item.friday-sec__item-lg
      .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-01.jpg')")
        h3.friday-sec__cover-title Название статьи
      h3.friday-sec__title Название статьи
      span.friday-sec__date 12.07.2017
      p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
      a(href="#").btn.btn-bw Посмотреть



    .friday-sec__item.friday-sec__item-lg
      .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-02.jpg')")
        h3.friday-sec__cover-title Название статьи
      h3.friday-sec__title Название статьи
      span.friday-sec__date 12.07.2017
      p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
      a(href="#").btn.btn-bw Посмотреть

      
    .friday-sec__item
      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-03.jpg')")
          h3.friday-sec__cover-title Название статьи
        h3.friday-sec__title Название статьи
        span.friday-sec__date 12.07.2017
        p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
        a(href="#").btn.btn-bw Посмотреть

      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-04.jpg')")
          h3.friday-sec__cover-title Название статьи
        h3.friday-sec__title Название статьи
        span.friday-sec__date 12.07.2017
        p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
        a(href="#").btn.btn-bw Посмотреть

    
    .friday-sec__item
      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-05.jpg')")
          h3.friday-sec__cover-title Название статьи
        h3.friday-sec__title Название статьи
        span.friday-sec__date 12.07.2017
        p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
        a(href="#").btn.btn-bw Посмотреть

      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-06.jpg')")
          h3.friday-sec__cover-title Название статьи
        h3.friday-sec__title Название статьи
        span.friday-sec__date 12.07.2017
        p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
        a(href="#").btn.btn-bw Посмотреть


// end   friday-sec