// begin friday-sec
section.friday-sec
  .friday-sec__wrap
    .friday-sec__item.friday-sec__item-lg
      .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-01.jpg')")
        h3.friday-sec__cover-title Временный персонал
      h3.friday-sec__title Временный персонал
      span.friday-sec__date 12.07.2017
      p Термин «временный персонал» на российском рынке появился сравнительно недавно. Его применяют для обозначения услуги использования сторонних трудовых ресурсов...
      a(href="/article-01.html").btn.btn-bw Посмотреть

    .friday-sec__item.friday-sec__item-lg
      .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-02.jpg')")
        h3.friday-sec__cover-title Аутсорсинг и аутстаффинг
      h3.friday-sec__title Аутсорсинг и аутстаффинг
      span.friday-sec__date 12.07.2017
      p Услуги аутсорсинга и аутстаффинга пришли на рынок России еще в конце XX века, однако многие до сих пор путают эти термины....
      a(href="/article-02.html").btn.btn-bw Посмотреть

    .friday-sec__item
      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-04.jpg')")
          h3.friday-sec__cover-title Аутстаффинг персонала
        h3.friday-sec__title Аутстаффинг персонала
        span.friday-sec__date 12.07.2017
        p В начале прошлого года федеральный закон №116 ввел в законодательное поле...
        a(href="/article-04.html").btn.btn-bw Посмотреть

      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-05.jpg')")
          h3.friday-sec__cover-title Выгоден ли аутстаффинг?
        h3.friday-sec__title Выгоден ли аутстаффинг?
        span.friday-sec__date 12.07.2017
        p Аутстаффинг – эффективная кадровая технология вывода сотрудников за штат или привлечение штата извне...
        a(href="/article-05.html").btn.btn-bw Посмотреть

    
    .friday-sec__item
      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-06.jpg')")
          h3.friday-sec__cover-title Независимый аудит
        h3.friday-sec__title Независимый аудит
        span.friday-sec__date 12.07.2017
        p Персонал из других государств оформляется в штат с особым пакетом документов, куда входит...
        a(href="/article-06.html").btn.btn-bw Посмотреть

      .friday-sec__subitem
        .friday-sec__cover(style="background-image:url('assets/img/friday-sec/friday-sec-07.jpg')")
          h3.friday-sec__cover-title Миграционный аудит
        h3.friday-sec__title Миграционный аудит
        span.friday-sec__date 12.07.2017
        p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
        a(href="/article-07.html").btn.btn-bw Посмотреть


// end   friday-sec