// begin guarantees
section.guarantees
  .container
    .guarantees__left
      .guarantees__left-item
        h4.guarantees__dir-name Максимов Сергей Юрьевич
        span.guarantees__dir-position управляющий директор
      

    .guarantees__right
      h3.guarantees__title Гарантии управляющего директора
      p Любые работы ведутся намного быстрее, качественнее и без лишних хлопот, если доверить подбор линейного персонала профессионалам. Данный принцип лежит в основе деятельности компании PRC. Высокая эффективность и юридическая безопасность достигается за счет стабильного развития нашей компании. Мы фокусируемся на юридической чистоте соискателей и работе с проверяющими органами, что снимает основную проблему современного рынка линейного персонала – сложности с легальным статусом иностранных рабочих.
      p На протяжении 10 лет мы сотрудничаем только с надежными банками, имеем собственный резервный фонд и гарантируем абсолютную прозрачность движения финансовых средств. Тщательное оформление документов и ведение клиентских баз данных позволяет Вам моментально получить необходимую отчетность за предыдущие годы для проверяющих структур.
  
// end   guarantees