// begin header
header.header
  .container-lg
    a(href="/index.html").header-logo
      img(src="assets/img/logo.png", alt="company logo")

    // begin menu
    nav.header-nav
      include ../elements/burger

      ul.header-nav__list#header-nav__list
        li.header-nav__item
          a(href="/about.html").header-nav__link.header-nav__link-about О компании
        li.header-nav__item
          a(href="/service.html").header-nav__link.header-nav__link-service Услуги
        li.header-nav__item
          a(href="/clients.html").header-nav__link.header-nav__link-clients Наши клиенты
        li.header-nav__item
          a(href="/vacancies.html").header-nav__link.header-nav__link-vacancies Вакансии
        li.header-nav__item
          a(href="/friday.html").header-nav__link.header-nav__link-friday Пятничный менеджер
        li.header-nav__item
          a(href="/contacts.html").header-nav__link.header-nav__link-contacts Контакты
    // end menu

    //begin geolocation
    .geolocation
      .geolocation-phone
        a(href="tel:8 800 350 50 49").geolocation-phone__link 8 (800) 350-50-49
      .geolocation-region
        span Ваш регион:
        =" "
        a(href="#").geolocation-region__city Москва
    //end geolocation

    .header-callback
      button.btn.btn-wr.popup-open(data-open="callback") Заказать звонок
        svg
          use(xlink:href="assets/img/sprite.svg#header-phone")
// end   header