// begin header
header.header
  .container-lg
    a(href="/index.html").header-logo
      img(src="assets/img/logo.png", alt="company logo")

    // begin menu
    nav.header-nav
      include ../elements/burger

      ul.header-nav__list#header-nav__list
        li.header-nav__item
          a(href="/about.html").header-nav__link.header-nav__link-about О компании
        li.header-nav__item
          a(href="/service.html").header-nav__link.header-nav__link-service Услуги
        li.header-nav__item
          a(href="/clients.html").header-nav__link.header-nav__link-clients Наши клиенты
        li.header-nav__item
          a(href="/vacancies.html").header-nav__link.header-nav__link-vacancies Вакансии
        li.header-nav__item
          a(href="/friday.html").header-nav__link.header-nav__link-friday Пятничный менеджер
        li.header-nav__item
          a(href="/contacts.html").header-nav__link.header-nav__link-contacts Контакты
    // end menu

    //begin geolocation
    .geolocation
      .geolocation-phone
        a(href="tel:8 800 350-50-49").geolocation-phone__link.geolocation-phone__link-msk 8 (800) 350-50-49
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-spb.active 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-cheln 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-ekb 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-tumen 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-rnd 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-kirov 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-iz 8 (800) 100-98-94
        a(href="tel:8 800 100-98-94").geolocation-phone__link.geolocation-phone__link-novosib 8 (800) 100-98-94
      .geolocation-region
        span Ваш регион:
        =" "
        a(href="#").geolocation-region__city.geolocation-region__city-msk Москва
        a(href="#").geolocation-region__city.geolocation-region__city-spb.active Санкт-Петербург и регионы
        a(href="#").geolocation-region__city.geolocation-region__city-cheln Набережные Челны
        a(href="#").geolocation-region__city.geolocation-region__city-ekb Екатеринбург
        a(href="#").geolocation-region__city.geolocation-region__city-tumen Тюмень
        a(href="#").geolocation-region__city.geolocation-region__city-rnd Ростов на Дону
        a(href="#").geolocation-region__city.geolocation-region__city-kirov Киров
        a(href="#").geolocation-region__city.geolocation-region__city-iz Ижевск
        a(href="#").geolocation-region__city.geolocation-region__city-novosib Новосибирск
        .geolocation-region__popup
          h3.geolocation-region__popup-title Ваш регион Санкт-Петербург?
          .geolocation-region__btn-wrap
            button.btn.btn-rr Да
            button.btn.btn-no Нет, изменить регион
        .geolocation-region__popup-city
          //- form
            input(type="search")
            input(type="submit")
          ul
            li(data-city="msk") Москва
            li(data-city="spb") Санкт-Петербург
            li(data-city="cheln") Набережные Челны
            li(data-city="ekb") Екатеринбург
            li(data-city="tumen") Тюмень
            li(data-city="rnd") Ростов на дону
            li(data-city="kirov") Киров
            li(data-city="iz") Ижевск
            li(data-city="novosib") Новосибирск
    //end geolocation

    .header-callback
      button.btn.btn-wr.popup-open(data-open="callback") Заказать звонок
        svg
          use(xlink:href="assets/img/sprite.svg#header-phone")
// end   header