// begin map
section.map-advantage
  section.map#map
  header.map__header
    .container
      h3.map__title Карта присутствия
      .map-select__wrap.control
        select.map-select
          option(value="all" selected) Города присутствия
          option(value="spb") Санкт-Петербург
          option(value="msk") Москва
          option(value="cheln") Набережные Челны
          option(value="ekb") Екатеринбург
          option(value="tumen") Тюмень
          option(value="rnd") Ростов на дону
          option(value="kirov") Киров
          option(value="iz") Ижевск
          option(value="novosib") Новосибирск
  footer.map__footer
    .container
      // begin Санкт Петербург баннер
      .map-banner.map-banner-spb
        .map-banner__close
        h4.map-banner__title Санкт Петербург
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="https://goo.gl/maps/KjAF4ouFTHr" target="_blank" rel="nofollow noopener noreferrer") БЦ Лиговский 200. Лиговский пр. д. 200
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94 
      // end Санкт Петербург баннер
      
      // begin Москва баннер
      .map-banner.map-banner-msk
        .map-banner__close
        h4.map-banner__title Москва
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="https://goo.gl/maps/v52PjbWMT6B2" target="_blank" rel="nofollow noopener noreferrer") г. Москва, Петровско-Разумовский проезд, д. 29.
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Москва баннер
      
      // begin Набережные Челны баннер
      .map-banner.map-banner-cheln
        .map-banner__close
        h4.map-banner__title Набережные Челны
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="#" target="_blank" rel="nofollow noopener noreferrer") Набережные Челны
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Набережные Челны баннер
      
      // begin Екатеринбург баннер
      .map-banner.map-banner-ekb
        .map-banner__close
        h4.map-banner__title Екатеринбург
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="https://goo.gl/maps/98j5nt2EW9s" target="_blank" rel="nofollow noopener noreferrer") Екатеринбург, ул.Черняховского, д.86 к.7
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Екатеринбург баннер
      
      // begin Тюмень баннер
      .map-banner.map-banner-tumen
        .map-banner__close
        h4.map-banner__title Тюмень
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="#" target="_blank" rel="nofollow noopener noreferrer") Тюмень
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Тюмень баннер
      
      // begin Ростов на Дону баннер
      .map-banner.map-banner-rnd
        .map-banner__close
        h4.map-banner__title Ростов на Дону
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="https://goo.gl/maps/T8FdmW89Rkq" target="_blank" rel="nofollow noopener noreferrer") Ростов на Дону, ул.Малиновского, д.3
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Ростов на Дону баннер
      
      // begin Киров баннер
      .map-banner.map-banner-kirov
        .map-banner__close
        h4.map-banner__title Киров
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="#" target="_blank" rel="nofollow noopener noreferrer") Киров
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Киров баннер
      
      // begin Ижевск баннер
      .map-banner.map-banner-iz
        .map-banner__close
        h4.map-banner__title Ижевск
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="#" target="_blank" rel="nofollow noopener noreferrer") Ижевск
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Ижевск баннер
      
      // begin Новосибирск баннер
      .map-banner.map-banner-novosib
        .map-banner__close
        h4.map-banner__title Новосибирск
        .map-banner__adress
          svg
            use(xlink:href="assets/img/sprite.svg#marker-2")
          a(href="https://goo.gl/maps/X7mfinoaUhL2" target="_blank" rel="nofollow noopener noreferrer") Новосибирск, пл.Карла Маркса, д.7 (БЦ «СанСити»)
        .map-banner__phone
          svg
            use(xlink:href="assets/img/sprite.svg#phone")
          a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
      // end Новосибирск баннер




  include ../sections/advantage

// end   map