// begin podbor
section.podbor
  .container
    .podbor__left.strategy-partners
      .strategy-partners__text
        .strategy-partners__pic
          img(src="assets/img/strategy-partners-01.png", alt="strategy partners logo")
        h3.strategy-partners__title
          span PRC
          =" "
          |- стратегический партнер
          br
          |индустриальных гигантов!
      .strategy-partners__pic-logo
        img(src="assets/img/strategy-partners-02.png", alt="strategy partners logo")
        img(src="assets/img/strategy-partners-03.png", alt="strategy partners logo")

        span.strategy-partners__link Что такое стратегическое партнерство?

        .strategy-partners__cover
          h3.strategy-partners__cover-title Стратегическое партнерство подразумевает:
          ul.strategy-partners__cover-list.custom-ul
            li 
              span Сверхбольшие объемы работ 
              br
              |от 1000 сотрудников в проекте
            li
              span Долгосрочное сотрудничество 
              br
              |от 1 года, успешно пройденные проверки
              br
              |и совместная отчетность
            li
              span Глубокая интеграция и взаимопроникновение
              br
              |общие автоматизированные бизнес-процессы

      //- .podbor__left-item
        span.podbor__numb.color-text 15
        span.podbor__text дней регистрация
      //- .podbor__left-item
        span.podbor__numb.color-text 4252
        span.podbor__text человек в смену
      //- .podbor__left-item
        span.podbor__numb.color-text 7150
        span.podbor__text количество трудовых договоров

    .podbor__right
      h3.podbor__title Эффективные кадровые решения для большого бизнеса
      p Мы подходим к каждому проекту индивидуально, конфиденциально и комплексно – сопровождаем сотрудников после приема на работу, проводим обучение, аттестацию, решаем все вопросы с документами, заработной платой, налогами и страхованием.
      p Основной состав нашей команды не менялся со времен основания компании. Это HR-профессионалы, которые предлагают по-настоящему уникальные решения, эффективные исключительно для вашей ситуации. Вместе с последними кадровыми технологиями и высокой автоматизацией бизнес-процессов, мы готовы оперативно решить любой вопрос, связанный с линейным персоналом.
// end   podbor