// begin podbor
section.podbor
  .container
    .podbor__left
      .podbor__left-item
        span.podbor__numb.color-text 15
        span.podbor__text дней регистрация
      .podbor__left-item
        span.podbor__numb.color-text 35
        span.podbor__text крупных клиентов
      .podbor__left-item
        span.podbor__numb.color-text 15000
        span.podbor__text сотрудников в базе

    .podbor__right
      h3.podbor__title Подбор линейного персонала с юридическим сопровождением
      p Мы подходим к каждому проекту индивидуально, конфиденциально и комплексно – сопровождаем сотрудников после приема на работу, проводим обучение, аттестацию, решаем все вопросы с документами, заработной платой, налогами и страхованием.
      p Основной состав нашей команды не менялся со времен основания компании. Это HR-профессионалы, которые предлагают по-настоящему уникальные решения, эффективные исключительно для вашей ситуации. Вместе с последними кадровыми технологиями и высокой автоматизацией бизнес-процессов, мы готовы оперативно решить любой вопрос, связанный с линейным персоналом.
  
// end   podbor