// begin tab-blue
section.tab-blue#tab-blue
  .container-lg
    ul.tab-blue__list
      li.tab-blue__item
        a(href="/autsorsing.html").tab-blue__link.tab-blue__link-autsorsing
          svg
            use(xlink:href="assets/img/sprite.svg#tab-01")
          span Аутсорсинг
      li.tab-blue__item
        a(href="/autstaffing.html").tab-blue__link.tab-blue__link-autstaffing
          svg
            use(xlink:href="assets/img/sprite.svg#tab-02")
          span Аутстаффинг
      li.tab-blue__item
        a(href="/migration.html").tab-blue__link.tab-blue__link-migration
          svg
            use(xlink:href="assets/img/sprite.svg#tab-03")
          span Миграционный учет
      li.tab-blue__item
        a(href="/audit.html").tab-blue__link.tab-blue__link-audit
          svg
            use(xlink:href="assets/img/sprite.svg#tab-04")
          span Аудит
      li.tab-blue__item
        a(href="/safety.html").tab-blue__link.tab-blue__link-safety
          svg
            use(xlink:href="assets/img/sprite.svg#tab-05")
          span Охрана труда
// end   tab-blue