// begin tab-blue
section.tab-blue
  .container-lg
    ul.tab-blue__list
      li.tab-blue__item
        a(href="#").tab-blue__link 
          svg
            use(xlink:href="assets/img/sprite.svg#tab-01")
          |Аутсорсинг
      li.tab-blue__item
        a(href="#").tab-blue__link 
          svg
            use(xlink:href="assets/img/sprite.svg#tab-02")
          |Аутстаффинг
      li.tab-blue__item
        a(href="#").tab-blue__link.active
          svg
            use(xlink:href="assets/img/sprite.svg#tab-03")
          |Миграционный учет
      li.tab-blue__item
        a(href="#").tab-blue__link 
          svg
            use(xlink:href="assets/img/sprite.svg#tab-04")
          |Аудит
      li.tab-blue__item
        a(href="#").tab-blue__link 
          svg
            use(xlink:href="assets/img/sprite.svg#tab-05")
          |Охрана труда
// end   tab-blue