//begin top-slider
section.top-slider
  ul.top-slider__list
    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-01.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title Группа компаний PRC
          p 
            |Подбор линейного персонала
            br
            |с юридическим сопровождением
          a(href="/about.html").btn.btn-rr Узнать больше

    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-02.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title 
            |Большая база
            br
            |легальных соискателей
          p 
            |В базе контактов PRC более 15 тысяч линейных
            br
            |специалистов с проверенным юридическим статусом
          a(href="/about.html").btn.btn-rr Узнать больше
    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-03.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title 
            |Десятилетний опыт
            br
            |крупных проектов
          p 
            |PRC работает на кадровом рынке Санкт-Петербурга, Москвы 
            br
            |и российских городов-миллионников более 10 лет
          a(href="/about.html").btn.btn-rr Узнать больше

//end   top-slider