//begin top-slider
section.top-slider
  ul.top-slider__list
    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-01.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title PRC рекрутинг
          p 
            |В PRC каждый проект разрабатывается «под ключ»,
            br
            |индивидуально и конфиденциально.
          p 
            |PRC работает на кадровом рынке Санкт-Петербурга,
            br
            |Москвы и российских городов-миллионников более 10 лет.
          a(href="#").btn.btn-rr Узнать больше

    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-02.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title PRC рекрутинг 2
          p 
            |В PRC каждый проект разрабатывается «под ключ»,
            br
            |индивидуально и конфиденциально.
          p 
            |PRC работает на кадровом рынке Санкт-Петербурга,
            br
            |Москвы и российских городов-миллионников более 10 лет.
          a(href="#").btn.btn-rr Узнать больше
    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-03.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title PRC рекрутинг 3
          p 
            |В PRC каждый проект разрабатывается «под ключ»,
            br
            |индивидуально и конфиденциально.
          p 
            |PRC работает на кадровом рынке Санкт-Петербурга,
            br
            |Москвы и российских городов-миллионников более 10 лет.
          a(href="#").btn.btn-rr Узнать больше

//end   top-slider