//begin top-slider
section.top-slider
  ul.top-slider__list
    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-01.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title Группа компаний PRC
          p 
            |Ваш надежный поставщик
            br
            |линейного персонала
          a(href="/about.html").btn.btn-rr Узнать больше

    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-02.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title 
            |Большая база
            br
            |легальных соискателей
          p 
            |В базе контактов PRC более 15 тысяч линейных
            br
            |специалистов с проверенным юридическим статусом
          a(href="/uslugi.html").btn.btn-rr Узнать больше
    li.top-slider__item(style="background-image:url('assets/img/top-slider/slide-03.jpg')")
      .container
        .top-slider__banner
          h2.top-slider__title 
            |Многолетний опыт
            br
            |крупных проектов
          p 
            |PRC работает на кадровом рынке
            br
            |Санкт-Петербурга, Москвы 
            br
            |и российских городов-миллионников с 2012 года
          a(href="/otzyivyi.html").btn.btn-rr Узнать больше

  a(href="#tab-blue").mouse-icon__wrap
    .mouse-icon
      .wheel
//end   top-slider