extends ../_template

block variables
  - var title = 'О компании'
  - var descr = 'PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости.'
  - var pageHeaderTitle = 'О компании'

block content
  include ../sections/header
  
  //begin content
  section.main.about(data-current="about")
    header.about-header
      .container
        include ../sections/page-header
        .about-header__text
          p PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости. С 2012 года компания обеспечивает профессиональную работу по подбору, оформлению и предоставлению на объекты Заказчиков линейного квалифицированного и неквалифицированного персонала. Компания PRC работает как независимая юридическая и организационная структура. PRC стала одним из лидирующих провайдеров услуг по поиску и предоставлению сотрудников для нужд строительства, производства, розничной, оптовой торговли и других крупных отраслей экономики.

    // begin about advantage slider
    section.about-advantage
      .container
        .about-advantage__title Преимущества нашей компании

        .about-advantage-slider
          ul.about-advantage-slider__list
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-09.jpg')")
              span
                |Финансовая
                br
                |устойчивость
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-10.jpg')")
              span
                |Проверка легальности
                br
                |документов
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-11.jpg')")
              span
                |Массовый
                br
                |и точечный подбор
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-12.jpg')")
              span
                |Квалифицированная
                br
                |команда
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-13.jpg')")
              span
                |Низкая текучесть
                br
                |кадров
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-14.jpg')")
              span
                |Собственная
                br
                |Служба безопасности
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-15.jpg')")
              span
                |Персонал рядом
                br
                |с работой
          .about-advantage-slider__slogan.about-advantage-slider__slogan-1.active
            span 
              |Стабильность и высокий потенциал компании
              br
              | обеспечена масштабами крупного
              br
              |российского холдинга
          .about-advantage-slider__slogan.about-advantage-slider__slogan-2
            span 
              |Осуществляем комплекс процедур по проверке 
              br
              |миграционных карт, регистрации, 
              br
              |трудовых патентов и других документов
          .about-advantage-slider__slogan.about-advantage-slider__slogan-3
            span 
              |Отработаны методы подбора 
              br
              |как профильных специалистов, так и 
              br
              |100 человек на одну вакансию единовременно
          .about-advantage-slider__slogan.about-advantage-slider__slogan-4
            span 
              |Наши сотрудники регулярно проходят 
              br
              |управленческое,профессиональное и  
              br
              |коммуникативное обучение за счет компании.
          .about-advantage-slider__slogan.about-advantage-slider__slogan-5
            span 
              |Учитываем деловые, 
              br
              |личностные и 
              br
              |национальные особенности
          .about-advantage-slider__slogan.about-advantage-slider__slogan-6
            span 
              |Полная уверенность в безопасности 
              br
              |работы персонала. Предоставляем персонал с 
              br
              |материальной ответственностью.
          .about-advantage-slider__slogan.about-advantage-slider__slogan-7
            span 
              |Подбираем кандидатов, 
              br
              |обеспечиваем общежитиями рядом с 
              br
              |работой проживающих вблизи работы
    // end   about advantage slider

    // begin about history
    .about-history
      .about-history__left(style="background-image:url('assets/img/about-history.jpg')")
      .about-history__right
        .about-history__right-inn
          h3.about-history__title История компании
          h4.about-history__subtitle PRC является дочерней организацией одного из ведущих хэд-хантинговых агентств по подбору персонала ТОП-уровня
          p Идея создания компании отвечала запросам постоянных Клиентов, лидеров российского бизнеса, желающих передать надежным и качественным провайдерам все свои остальные вопросы в сфере персонала. Учитывая специфику работы в направлении массового рекрутинга, аутсорсинга и аутстаффинга, было принято решение разделить бизнес-процессы и создать в рамках HR-компании отдельную структуру, сосредоточенную только на линейных работниках.
          p Со времени сотрудничества с постоянными Заказчиками клиентская база стремительно расширялась. Опыт работы с руководителями ТОП-уровня позволил открыть новую страницу в сфере аутсорсинга. За несколько лет из небольшого дочернего предприятия компания выросла до масштабов крупного холдинга, работающего в Москве, Санкт-Петербурге и других регионах России.
          .about-history__slogan
            svg
              use(xlink:href="assets/img/sprite.svg#tab-14")
            span Мы ценим каждого Клиента и стремимся обеспечить для Вас максимальный комфорт и экономическую и юридическую безопасность.
          //- span.about-history__footer *Информация носит конфиденциальный характер и будет разглашена при подписании контракта.
    // end   about history

    // begin about map
    section.about-map#about-map
      .about-map__inn#map
      header.about-map__header
        .container
          h3.about-map__title Города присутствия
          .map-select__wrap.control
            select.map-select
              option(value="all" selected) Города присутствия
              option(value="spb") Санкт-Петербург
              option(value="msk") Москва
              option(value="cheln") Набережные Челны
              option(value="ekb") Екатеринбург
              option(value="tumen") Тюмень
              option(value="rnd") Ростов на дону
              option(value="kirov") Киров
              option(value="iz") Ижевск
              option(value="novosib") Новосибирск
      footer.map__footer
        .container
          // begin Санкт Петербург баннер
          .map-banner.map-banner-spb
            .map-banner__close
            h4.map-banner__title Санкт Петербург
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="https://goo.gl/maps/KjAF4ouFTHr" target="_blank" rel="nofollow noopener noreferrer") БЦ Лиговский 200. Лиговский пр. д. 200
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94 
          // end Санкт Петербург баннер
          
          // begin Москва баннер
          .map-banner.map-banner-msk
            .map-banner__close
            h4.map-banner__title Москва
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="https://goo.gl/maps/v52PjbWMT6B2" target="_blank" rel="nofollow noopener noreferrer") г. Москва, Петровско-Разумовский проезд, д. 29.
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Москва баннер
          
          // begin Набережные Челны баннер
          .map-banner.map-banner-cheln
            .map-banner__close
            h4.map-banner__title Набережные Челны
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="#" target="_blank" rel="nofollow noopener noreferrer") Набережные Челны
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Набережные Челны баннер
          
          // begin Екатеринбург баннер
          .map-banner.map-banner-ekb
            .map-banner__close
            h4.map-banner__title Екатеринбург
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="https://goo.gl/maps/98j5nt2EW9s" target="_blank" rel="nofollow noopener noreferrer") Екатеринбург, ул.Черняховского, д.86 к.7
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Екатеринбург баннер
          
          // begin Тюмень баннер
          .map-banner.map-banner-tumen
            .map-banner__close
            h4.map-banner__title Тюмень
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="#" target="_blank" rel="nofollow noopener noreferrer") Тюмень
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Тюмень баннер
          
          // begin Ростов на Дону баннер
          .map-banner.map-banner-rnd
            .map-banner__close
            h4.map-banner__title Ростов на Дону
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="https://goo.gl/maps/T8FdmW89Rkq" target="_blank" rel="nofollow noopener noreferrer") Ростов на Дону, ул.Малиновского, д.3
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Ростов на Дону баннер
          
          // begin Киров баннер
          .map-banner.map-banner-kirov
            .map-banner__close
            h4.map-banner__title Киров
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="#" target="_blank" rel="nofollow noopener noreferrer") Киров
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Киров баннер
          
          // begin Ижевск баннер
          .map-banner.map-banner-iz
            .map-banner__close
            h4.map-banner__title Ижевск
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="#" target="_blank" rel="nofollow noopener noreferrer") Ижевск
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Ижевск баннер
          
          // begin Новосибирск баннер
          .map-banner.map-banner-novosib
            .map-banner__close
            h4.map-banner__title Новосибирск
            .map-banner__adress
              svg
                use(xlink:href="assets/img/sprite.svg#marker-2")
              a(href="https://goo.gl/maps/X7mfinoaUhL2" target="_blank" rel="nofollow noopener noreferrer") Новосибирск, пл.Карла Маркса, д.7 (БЦ «СанСити»)
            .map-banner__phone
              svg
                use(xlink:href="assets/img/sprite.svg#phone")
              a(href="tel:+8 800 100 98 94") 8 (800) 100-98-94
          // end Новосибирск баннер
    // end   about map

    // begin guarantees
    section.guarantees#about-director
      .container
        .guarantees__left
          .guarantees__left-item
            h4.guarantees__dir-name Максимов Сергей Юрьевич
            span.guarantees__dir-position управляющий директор
          

        .guarantees__right
          h3.guarantees__title Гарантии управляющего директора
          p Любые работы ведутся намного быстрее, качественнее и без лишних хлопот, если доверить подбор линейного персонала профессионалам. Данный принцип лежит в основе деятельности компании PRC. Высокая эффективность и юридическая безопасность достигается за счет стабильного развития нашей компании. Мы фокусируемся на юридической чистоте соискателей и работе с проверяющими органами, что снимает основную проблему современного рынка линейного персонала – сложности с легальным статусом иностранных рабочих.
          p Мы сотрудничаем только с надежными банками, имеем собственный резервный фонд и гарантируем абсолютную прозрачность движения финансовых средств. Тщательное оформление документов и ведение клиентских баз данных позволяет Вам моментально получить необходимую отчетность за предыдущие годы для проверяющих структур.
          a(href="#" data-open="director").btn.btn-wr.popup-open Задать вопрос управляющему директору
    // end   guarantees

    // begin about-personal
    section.about-personal#about-personal(style="background-image:url('assets/img/about-personal.jpg')")
      .container
        .about-personal__item
          h4.about-personal__title Наши сотрудники
          p Команда PRC – коллектив профессиональных специалистов в сфере менеджмента персонала. Мы осуществляем индивидуальный подход к каждому Клиенту, поэтому выделяем штатных сотрудников для решения конкретных задач, с учетом их опыта и навыков.
          p Основной состав нашей команды не менялся со времен основания компании. Это HR-профессионалы, которые предлагают по-настоящему уникальные решения, эффективные исключительно для вашей ситуации. Вместе с последними кадровыми технологиями и высокой автоматизацией бизнес-процессов, мы готовы оперативно решить любой вопрос, связанный с линейным персоналом.
          a(href="#").btn.btn-ww Познакомиться с нашей командой
    // end   about-personal

    // begin about-conformity
    section.about-conformity
      .container
        .about-conformity__left
          h4.about-conformity__title Соответствие требованиям
          p
            |Финансовая, техническая и кадровая оснащенность PRC соответствует всем необходимым требованиям.
            br
            |Мы готовы участвовать в тендере на оказание услуг Вашей компании.
          ul.custom-ul.about-conformity__list
            li На рынке с 2012 года
            li Тщательный подбор партнеров и контрагентов
            li Отсутствие задолженности по налогам и сборам
            li Экономически обоснованная политика ценообразования услуг
            li Подбор и наем персонала, расчет и выплата заработной платы
            li Обеспечение безопасности труда
            li Собственная Служба безопасности

          a(href="#" data-open="tender").btn.btn-wr.popup-open Пригласить в тендер

        .about-conformity__right
          a(href="assets/img/pdf-01.jpg" data-fancybox="gallery").about-conformity__pdf
            img(src="assets/img/about-conformity-pdf.jpg", alt="pdf")
            svg
              use(xlink:href="assets/img/sprite.svg#pdf")

          //- a(href="assets/img/pdf-02.jpg" data-fancybox="gallery").about-conformity__pdf
            img(src="assets/img/about-conformity-pdf.jpg", alt="pdf")
            svg
              use(xlink:href="assets/img/sprite.svg#pdf")
    // end   about-conformity

    // begin about-process
    section.about-process
      .container
        h4.about-process__title Отлаженные процессы
      .about-process__list
        .about-process__item
          .about-process__cover(style="background-image:url('assets/img/about-process-01.jpg')")
            .about-process__item-title Массовый подбор
          p Динамичное развитие промышленности и торговли диктует необходимость быстрого и эффективного поиска сотрудников. В нашей компании отработаны технологии массового подбора персонала: 100 человек на одну вакансию одновременно.
        .about-process__item
          .about-process__cover(style="background-image:url('assets/img/about-process-02.jpg')")
            .about-process__item-title Делопроизводство
          p Вы получаете налаженную систему по ведению кадрового делопроизводства, которая включает в себя: получение СНИЛС; заключение трудовых договоров; табелирование рабочего времени; ведение бухгалтерии (расчет больничных, отпусков, расчет и оплата компенсаций); взаимодействие и отчетность перед УФНС.
        .about-process__item
          .about-process__cover(style="background-image:url('assets/img/about-process-03.jpg')")
            .about-process__item-title Медицина
          p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений; осуществляем оформление медицинского страхования.Контроль ОМС и ДМС. Контроль легальности работы сотрудников – своевременное создание приказов и отстранение от работы при нарушении ими трудовой дисциплины.

        .about-process__item
          .about-process__cover(style="background-image:url('assets/img/about-process-04.jpg')")
            .about-process__item-title Обучение
          p Организация проведения первичных инструктажей; регулярная проверка знаний и повышение квалификации сотрудников и ИТР (при необходимости).
        .about-process__item
          .about-process__cover(style="background-image:url('assets/img/about-process-05.jpg')")
            .about-process__item-title Средства индивидуальной защиты
          p Проводим закупку, хранение, плановую замену (по срокам эксплуатации) и выдачу СИЗ сотрудникам Вашей компании. Вводим в работу автоматизированную систему учета сроков носки. При необходимости осуществляем тендерную работу по закупке СИЗ под конкретного Заказчика.
        .about-process__item
          .about-process__cover(style="background-image:url('assets/img/about-process-06.jpg')")
            .about-process__item-title Учет времени
          p Компания PRC имеет собственный комплекс программного обеспечения по учету рабочего времени персонала на объектах Заказчика. Ежедневно происходит синхронизация данных об объеме выполненных работ с базами заказчика.
    // end   about-process

    // begin about-banks
    section.about-banks
      .container
        h4.about-banks__title Банки партнеры
        .about-banks__list
          .about-banks__item
            img(src="assets/img/bank-01.jpg", alt="bank")
          .about-banks__item
            img(src="assets/img/bank-02.jpg", alt="bank")
          .about-banks__item
            img(src="assets/img/bank-03.jpg", alt="bank")
          .about-banks__item
            img(src="assets/img/bank-04.jpg", alt="bank")
          .about-banks__item
            img(src="assets/img/bank-05.jpg", alt="bank")
          //- .about-banks__item
            img(src="assets/img/bank-06.jpg", alt="bank")
          .about-banks__item
            img(src="assets/img/bank-07.jpg", alt="bank")
    // end   about-banks

    

  //end   content
  include ../sections/footer
  script(type='text/javascript').
    google.maps.event.addDomListener(window, "load", initialize);
    // $.getJSON("http://ip-api.com/json/?callback=?", function(data) {
    //   var country = data.country, // страна пользователя
    //       city = data.city, // страна пользователя
    //       lat = data.lat,
    //       lon = data.lon; //ip пользователя
    //       console.log(country + ", " + city + ", " + lat + ", " + lon);
    // });
    // begin google map in index.html
    var coords = [
    // !!!!!!!!!!!!  порядок координат не менять, а добавлять снизу
    // all
    [55.486244, 57.657120],
    // spb
    [59.909246, 30.347095, "Санкт-Петербург"],
    // moscow
    [55.79093, 37.60345, "Москва"],
    //Набережные Челны
    [55.730569, 52.392449, "Набережные Челны"],
    //Екатеринбург
    [56.863565, 60.630524, "Екатеринбург"],
    //Тюмень
    [57.158136, 65.535438, 'Тюмень'],
    //Ростов на дону
    [47.239227, 39.692515, "Ростов на дону"],
    //Киров
    [58.605859, 49.655816, "Киров"],
    //Ижевск
    [56.852340, 53.226039, "Ижевск"],
    //Новосибирск
    [55.030942, 82.927428, "Новосибирск"],
    ];
    var markers = [
    // moscow
    [55.79093, 37.60345, "Москва", "msk"],
    // spb
    [59.909246, 30.347095, "Санкт-Петербург", "spb"],
    //Набережные Челны
    [55.730569, 52.392449, "Набережные Челны", "cheln"],
    //Екатеринбург
    [56.863565, 60.630524, "Екатеринбург", "ekb"],
    //Тюмень
    [57.158136, 65.535438, "Тюмень", 'tumen'],
    //Ростов на дону
    [47.239227, 39.692515, "Ростов на Дону", "rnd"],
    //Киров
    [58.605859, 49.655816, "Киров", "kirov"],
    //Ижевск
    [56.852340, 53.226039, "Ижевск", "iz"],
    //Новосибирск
    [55.030942, 82.927428, "Новосибирск", "novosib"],
    ];
    var map = {};
    var isDraggable = $(document).width() > 700 ? true : false;
    function initialize() {
    var mapDiv = document.getElementById("map");
    map = new google.maps.Map(mapDiv, {
    zoom: 5,
    disableDefaultUI: false,
    scrollwheel: false,
    draggable: isDraggable,
    center: {lat: 60.486244, lng: 55.657120},
    styles: [{featureType: "water",elementType: "geometry",stylers: [{ color: "#e9e9e9" }, { lightness: 17 }]},{featureType: "landscape",elementType: "geometry",stylers: [{ color: "#f5f5f5" }, { lightness: 20 }]},{featureType: "road.highway",elementType: "geometry.fill",stylers: [{ color: "#ffffff" }, { lightness: 17 }]},{featureType: "road.highway",elementType: "geometry.stroke",stylers: [{ color: "#ffffff" }, { lightness: 29 }, { weight: 0.2 }]},{featureType: "road.arterial",elementType: "geometry",stylers: [{ color: "#ffffff" }, { lightness: 18 }]},{featureType: "road.local",elementType: "geometry",stylers: [{ color: "#ffffff" }, { lightness: 16 }]},{featureType: "poi",elementType: "geometry",stylers: [{ color: "#f5f5f5" }, { lightness: 21 }]},{featureType: "poi.park",elementType: "geometry",stylers: [{ color: "#dedede" }, { lightness: 21 }]},{elementType: "labels.text.stroke",stylers: [{ visibility: "on" }, { color: "#ffffff" }, { lightness: 16 }]},{elementType: "labels.text.fill",stylers: [{ saturation: 36 }, { color: "#333333" }, { lightness: 40 }]},{ elementType: "labels.icon", stylers: [{ visibility: "off" }] },{featureType: "transit",elementType: "geometry",stylers: [{ color: "#f2f2f2" }, { lightness: 19 }]},{featureType: "administrative",elementType: "geometry.fill",stylers: [{ color: "#fefefe" }, { lightness: 20 }]},{featureType: "administrative",elementType: "geometry.stroke",stylers: [{ color: "#fefefe" }, { lightness: 17 }, { weight: 1.2 }]}]
    });
    var image = "http://prc.odinokun.com/assets/img/map-marker.png";
    var bubbleWrapStart = '<div class="map_bubble">';
    var bubbleWrapEnd = "</div>";
    // // begin geolocation
    // // Try HTML5 geolocation.
    // var infoWindow = new google.maps.InfoWindow({map: map});
    // if (navigator.geolocation) {
    //   navigator.geolocation.getCurrentPosition(function(position) {
    //     var pos = {
    //       lat: position.coords.latitude,
    //       lng: position.coords.longitude
    //     };
    //     infoWindow.setPosition(pos);
    //     infoWindow.setContent('<button class="btn btn-rr">hellow</button>');
    //     map.setCenter(pos);
    //   }, function() {
    //     handleLocationError(true, infoWindow, map.getCenter());
    //   });
    // } else {
    //   // Browser doesn't support Geolocation
    //   handleLocationError(false, infoWindow, map.getCenter());
    // }
    // function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    //   infoWindow.setPosition(pos);
    //   infoWindow.setContent(browserHasGeolocation ?
    //                         'Error: The Geolocation service failed.' :
    //                         'Error: Your browser doesn\\'t support geolocation.');
    // }
    // // end geolocation
    $.each(markers, function(index, val) {
    var myLatLng = new google.maps.LatLng(val[0], val[1]);
    var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: image,
    title: val[2]
    });
    var infowindow = new google.maps.InfoWindow({
    content: bubbleWrapStart + val[2] + bubbleWrapEnd
    });
    $(function() {
    infowindow.open(map, marker);
    });
    marker.addListener("mouseover", function() {
    infowindow.open(map, marker);
    var markerClick = val[3];
    $('.map-banner').fadeOut(0);
    $('.map-banner-' + markerClick).fadeIn();
    });
    marker.addListener("click", function() {
    map.panTo(this.getPosition());
    map.setZoom(12);
    var markerClick = val[3];
    $('.map-banner').fadeOut(0);
    $('.map-banner-' + markerClick).delay(500).fadeIn();
    $(".control select [value=" + markerClick + "]").attr("selected", "selected");
    });
    });
    }
    // google.maps.event.addDomListener(window, "load", initialize);
    $('.map-banner__close').on('click', function(){
    $('.map-banner').fadeOut();
    })
    $(document).ready(function($) {
    // begin Изменения при выборе селекта
    $('.control').on('change', 'select', function(event) {
    event.preventDefault();
    var city = $(this).val();
    $('.map-banner').fadeOut(0);
    $('.map-banner-' + city).delay(500).fadeIn();
    goToCity(city);
    });
    // end Изменения при выборе селекта
    // begin Выбор города в попапе в шапке
    $('.geolocation-region__popup-city li').on('click', function() {
    $('.geolocation-region__popup-city').fadeOut();
    $('.popup__layer').fadeOut();
    $('body').removeClass('no-scroll');
    var city = $(this).data('city');
    // меняем значение селекта на карте
    $(".control select [value=" + city + "]").attr("selected", "selected");
    // меняем баннер на карте
    $('.map-banner').fadeOut(0);
    $('.map-banner-' + city).delay(500).fadeIn();
    // меняем город
    $('.geolocation-region__city').fadeOut(0);
    $('.geolocation-region__city-' + city).fadeIn();
    // меняем телефон
    $('.geolocation-phone__link').fadeOut(0);
    $('.geolocation-phone__link-' + city).fadeIn();
    goToCity(city);
    })
    // end Выбор города в попапе в шапке
    // меняем координаты центра карты по выбранному селекту
    function goToCity(city) {
    switch (city) {
    case 'all':
    map.setZoom(4);
    map.setCenter(new google.maps.LatLng(coords[0][0], coords[0][1]));
    break;
    case 'spb':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[1][0], coords[1][1]));
    break;
    case 'msk':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[2][0], coords[2][1]));
    break;
    case 'cheln':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[3][0], coords[3][1]));
    break;
    case 'ekb':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[4][0], coords[4][1]));
    break;
    case 'tumen':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[5][0], coords[5][1]));
    break;
    case 'rnd':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[6][0], coords[6][1]));
    break;
    case 'kirov':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[7][0], coords[7][1]));
    break;
    case 'iz':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[8][0], coords[8][1]));
    break;
    case 'novosib':
    map.setZoom(10);
    map.setCenter(new google.maps.LatLng(coords[9][0], coords[9][1]));
    break;
    }
    }
    });
    // end   google map in index.html
    // begin открываем окно выбора региона
    $('.geolocation-region__city').on('click', function() {
    $('.geolocation-region__popup-city').fadeIn();
    $('.popup__layer').fadeIn();
    $('body').addClass('no-scroll');
    return false;
    })
    // end открываем окно выбора региона
