extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Название статьи'

block content
  include ../sections/header
  
  //begin content
  section.main.about
    header.about-header
      .container
        include ../sections/page-header
        .about-header__text
          p PrivateRecruitingCompany (PRC) – ведущее российское аккредитованное частное агентство занятости. С 2012 года компания обеспечивает профессиональную работу по подбору, оформлению и предоставлению на объекты Заказчиков линейного квалифицированного и неквалифицированного персонала. С 2012 года, компания PRC работает как независимая юридическая и организационная структура. PRC стала одним из лидирующих провайдеров услуг по поиску и предоставлению сотрудников для нужд строительства, производства, розничной, оптовой торговли и других крупных отраслей экономики.
  
    // begin advantage
    section.about-advantage
      .container
        .about-advantage__title.section-title Наши преимущества

        .about-advantage-slider
          ul.about-advantage-slider__list
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-01.jpg')")
              span
                |Большая база
                br
                |легальных соискателей
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-02.jpg')")
              span Оформление всех документов и работа с проверяющими органами
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-03.jpg')")
              span
                |Десятилетний опыт
                br
                |крупных проектов
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-04-1.jpg')")
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-04.jpg')")
              span
                |Комплексность
                br
                |услуг
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-05.jpg')")
              span
                |Технологичность
                br
                br
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-06.jpg')")
              span
                |Высокая скорость
                br
                |оказания услуг
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-07.jpg')")
              span
                |Аккредитованное частное
                br
                |агенство занятости
            li.about-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-08.jpg')")
              span
                |9 городов
                br
                |присутствия

    // end   advantage









  include ../sections/footer