extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Аутсорсинг и аутстаффинг'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-02.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 16.05.2017
        .article-header__text
          p Услуги аутсорсинга и аутстаффинга пришли на рынок России еще в конце XX века, однако многие до сих пор путают эти термины.
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Аутсорсинг и аутстаффинг: что это и какая разница?
        
        p Услуги аутсорсинга и аутстаффинга пришли на рынок России еще в конце XX века, однако многие до сих пор путают эти термины.
        
        p
          strong Аутсорсинг 
          =" "
          | – это передача функций или бизнес-процессов другой компании на основании договора подряда. Зачастую на аутсорсинг передают функции IT, обеспечения безопасности, кадровый учет, бухгалтерию, производство, маркетинг, юридические услуги, транспорт, а также выделенные проекты.
        p
          strong Аутстаффинг
          =" "
          |  – это технология использования персонала вне штата или вывода собственных сотрудников за штат. Любые нужные вам специалисты оформляются в штат агентства, которое берет на себя обязанности по ведению кадрового учета, охраны труда и многое другое.
          
        p 
          strong Что общего?

        ul.article-sec__list
          li.article-sec__item обе технологии повышают качество и эффективность профильных активностей бизнеса,
          li.article-sec__item высвобождают человеческие и финансовые ресурсы компании, 
          li.article-sec__item помогают оптимизировать налогообложение, 
          li.article-sec__item снижают риски, а также финансовые, кадровые и производственные расходы.

        p
          strong В чем отличия?
        p Выбор услуги зависит от приоритетов бизнес задач вашей компании. В таблице представлены основные особенности каждой технологии.

      .container
        .article-sec__table.article-sec__table-half
          .article-sec__table-row
            .article-sec__table-td
              span Аутсорсинг
            .article-sec__table-td
              span Аутстаффинг

          .article-sec__table-row
            .article-sec__table-td
              span Передача функций или бизнес-процессов сторонней компании на основании договора подряда
            .article-sec__table-td
              span Персонал оформлен в штате у агентства-оператора, но работает в вашей компании

          .article-sec__table-row
            .article-sec__table-td
              span Что: IT, безопасность, кадровый учет, бухгалтерия, производство, маркетинг, юристы, транспорт, выделенные проекты
            .article-sec__table-td
              span Любые специалисты

          .article-sec__table-row
            .article-sec__table-td
              span Контроль исполнения и ответственность за результат несет аутсорсер
            .article-sec__table-td
              span Больше свободы и контроля в использовании трудовых ресурсов

          .article-sec__table-row
            .article-sec__table-td
              span Затратнее, дольше
            .article-sec__table-td
              span Дешевле, оперативнее (разница до 50%)

    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 04.05.2017
          p Термин «временный персонал» на российском рынке появился сравнительно недавно. Его применяют для обозначения...
          a(href="/article-01.html").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 01.06.2017
          p При выездной проверке должен присутствовать законный представитель вашей компании, который сможет письменно или устно дать ответы...
          a(href="/article-03.html").btn.btn-wr Посмотреть


        



  //end   content
  include ../sections/footer