extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Выгоден ли аутстаффинг?'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-05.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 23.06.2017
        .article-header__text
          p Аутстаффинг – эффективная кадровая технология вывода сотрудников за штат или привлечение штата извне («заем персонала») в рамках договора с частным агентством занятости (аутстаффером), по которому работники, фактически трудоустроенные в агентстве, выполняют задачи вашего бизнеса. Каким компаниям выгоден данный кадровый сервис и почему?
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Выгоден ли аутстаффинг?
        p Аутстаффинг – эффективная кадровая технология вывода сотрудников за штат или привлечение штата извне («заем персонала») в рамках договора с частным агентством занятости (аутстаффером), по которому работники, фактически трудоустроенные в агентстве, выполняют задачи вашего бизнеса. Каким компаниям выгоден данный кадровый сервис и почему?

        p Первыми заказчиками аутстаффинга в России стали западные сетевые компании, т.к. технология им знакома в глобальном опыте. Компании, работающие по упрощенной схеме налогообложения, также заинтересованы в сервисе, т.к. могут расширять штат, не выходя за рамки законных ограничений. Услуга востребована среди активно растущих бизнесов, которые открывают представительства в регионах. Компании с основной деятельностью в сферах производства и обслуживания, чувствительные к сезонам, также привлекают заемный персонал, в том числе из других государств.  Преимущества очевидны и для проектных бизнесов в различных сферах - строительства, связи, торговли.

        p Почему это выгодно?

        ul.article-sec__list
          li.article-sec__item Оперативно повышается конкурентоспособность.
          li.article-sec__item Оптимизируется кадровый состав без ограничений штатного расписания.
          li.article-sec__item Снижаются расходы на налоги.
          li.article-sec__item Сокращаются финансовые, трудовые и временные затраты на кадровое делопроизводство и бухгалтерию.
          li.article-sec__item Снижаются расходы на компенсационные пакеты сотрудников.
          li.article-sec__item В случае привлечения иностранных сотрудников, ответственность за документарную чистоту кандидатов берет на себя аутстаффер (ЧАЗ – частное агентство занятости).
          li.article-sec__item Открываются возможности оперативного выхода на новые рынки. 
          li.article-sec__item Экономия годовых затрат на персонал достигает до 40%.

        p Бесперебойная работа бизнеса с привлечением заемного персонала зависит от опытности агентства и его ориентированности на клиента: аутстаффер должен доказать 

        ul.article-sec__list
          li.article-sec__item высокий уровень юридической поддержки, 
          li.article-sec__item отлаженные техники отбора и проверки квалификации предоставляемых сотрудников, 
          li.article-sec__item прозрачные механизмы работы с контролирующими органами, 
          li.article-sec__item лояльность и ответственность по отношению к предоставляемым кадрам с учетом их интересов.

        p В этом случае, аутстаффинг будет выгоден всем участникам процесса – клиенту, агентству и сотрудникам – и поэтому эффективен.

    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
          a(href="#").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
          a(href="#").btn.btn-wr Посмотреть


        



  //end   content
  include ../sections/footer