extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Аутстаффинг персонала'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-04.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 10.06.2017
        .article-header__text
          p В начале прошлого года федеральный закон №116 ввел в законодательное поле понятие заемного труда и теперь полностью регламентирует аутстаффинг. В связи с этим запестрели заголовки о «запрете на аутстаффинг», и вокруг востребованной, но не до конца всеми понимаемой услуги поднялось много шума.
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Аутстаффинг персонала в 2017 году
        p В начале прошлого года федеральный закон №116 ввел в законодательное поле понятие заемного труда и теперь полностью регламентирует аутстаффинг. В связи с этим запестрели заголовки о «запрете на аутстаффинг», и вокруг востребованной, но не до конца всеми понимаемой услуги поднялось много шума.
        
        h4.article-sec__subtitle Миф «о запрете на аутстаффинг» 
        
        p Аутстаффинг – выгодная кадровая технология вывода части персонала за штат или же привлечения к работе сотрудников, фактически трудоустроенных в агентстве занятости. Каково положение дел аутстаффинга в 2017 году?

        p Закон ввел определенные, на наш взгляд, полезные ограничения, защищая интересы как компаний-пользователей аутстаффинга, так и самих работников. Например, запрещается прибегать к аутстаффингу для замены бастующих и отказывающихся работать из-за задержки или невыплаты заработной платы штатных сотрудников. Но здоровая корпоративная культура предполагает защиту интересов членов своей команды, и вряд ли рейтинговый работодатель огорчится из-за такого запрета.

        p Некоторые положения доставляют неудобства, к примеру, ограничение на срок предоставления персонала другим работодателям – не более девяти месяцев с определенными оговорками. 

        p Услуги аутстаффинга могут предоставлять только аккредитованные частные агентства занятости. 
        
        h4.article-sec__subtitle Проверьте аккредитацию агентства

        p Теперь клиент может легко проверить аккредитацию потенциального партнера-аутстаффера в реестре на сайте Федеральной службы занятости. 
        p Желающим пройти аккредитацию закон предъявляет высокие требования и таким образом отсеивает «серые» компании, которые могут бросить клиента после получения предоплаты. 
        p Частные агентства занятости должны отвечать ряду строгих критериев: быть зарегистрированными на территории РФ как юридические лица с правом предоставления заемного персонала, подтвердить документами отсутствие налоговых долгов, доказать опыт работы, квалификацию руководителя, отсутствие судимости и т.д. 
 
        h4.article-sec__subtitle Стоимость аутстаффинга в 2017 году

        p Закон поднял планку расчета стоимости аутстаффинга, куда входят затраты оператора на зарплатные налоги с учетом минимальной оплаты труда по региону. 
        p К примеру, в Санкт-Петербурге на данный момент минимальная зарплата – 11 700 рублей, значит, налоги и сборы составят 4385 рублей. И если в Питере вам предложат договор с ценой на аутстаффинг работника ниже данной суммы, задайте оператору вопросы о добросовестности выплаты налогов и правильности оформления предоставляемого персонала. Документарная и юридическая чистота – залог безопасности пользования услугой.

        h4.article-sec__subtitle Аутстаффинг персонала из других государств

        p Работа с иностранными гражданами требует особенной внимательности: по этой части аутстаффер должен доказать безупречную репутацию, чтобы в миграционных и трудовых документах предоставляемого персонала из других стран был полный порядок. Риски высоки – даже небольшие нарушения могут быть чреваты штрафами на миллионы рублей.

        p PRC аккредитовано как частное агентство занятости, работает в соответствии со всеми требованиями законодательства и на условиях аутстаффинга предоставляет только проверенные кадры.

        a(href="/autstaffing.html").btn.btn-wr Подробнее


    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 01.06.2017
          p При выездной проверке должен присутствовать законный представитель вашей компании, который сможет письменно или устно дать ответы...
          a(href="/article-03.html").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 23.06.2017
          p Аутстаффинг – эффективная кадровая технология вывода сотрудников за штат или привлечение штата извне («заем персонала») в рамках договора...
          a(href="/article-05.html").btn.btn-wr Посмотреть


        



  //end   content
  include ../sections/footer