extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Миграционный аудит'

block content
  include ../sections/header
  
  //begin content
  section.main.article
    header.article-header(style="background-image:url('assets/img/article-header-07.jpg')")
      .container
        include ../sections/page-header
        .article-header__date
          svg
            use(xlink:href="assets/img/sprite.svg#clock")
          span 18.07.2017
        .article-header__text
          p Персонал из других государств оформляется в штат с особым пакетом документов, куда входит патент / разрешение на проживание / вид на жительство, подтверждение постановки на миграционный учет, страховой полис и др. Налогообложение, оформление командировок, временный перевод и увольнение иностранных граждан также совершаются в особом порядке.
        .article-header__pluso
          script(type='text/javascript').
            (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('body')[0];
            h.appendChild(s);
            }})();
          .pluso(data-background='transparent', data-options='big,square,line,horizontal,nocounter,theme=04', data-services='vkontakte,odnoklassniki,facebook,twitter,google,moimir')

    section.article-sec
      .container
        h3.article-sec__title Миграционный аудит: последствия нарушений оформления иностранных работников в штат
        
        p Персонал из других государств оформляется в штат с особым пакетом документов, куда входит патент / разрешение на проживание / вид на жительство, подтверждение постановки на миграционный учет, страховой полис и др. Налогообложение, оформление командировок, временный перевод и увольнение иностранных граждан также совершаются в особом порядке.

        h4.article-sec__subtitle Контролируйте оплату НДФЛ

        p Если ваш иностранный сотрудник работает на основании патента, помните, что срок действия трудового договора с ним ограничен сроком действия его разрешения на трудоустройство (патента). Поскольку работник обязан ежемесячно платить НДФЛ за себя лично, рекомендуем контролировать факт оплаты в полном объеме, его своевременность и правильность оформления реквизитов. Иначе патент может быть аннулирован из-за нарушения сроков оплаты, и штрафов не избежать.

        p Трудовые отношения с иностранным работником без патента обойдутся дорого: руководитель заплатит штраф от 25 000 до 50 000 рублей, организация – от 250 000 до 800 000 рублей, также возможно административное приостановление деятельности на срок до 90 суток.

        h4.article-sec__subtitle Своевременно уведомляйте ГУВМ МВД 

        p Прием на работу и увольнение мигранта обязует работодателя уведомить ГУВМ МВД о заключении или расторжении трудового договора в течение трех дней. При нарушении срока уведомления на руководителя налагается штраф от 25 000 до 50 000 рублей, на организацию - от 250 000 до 800 000 рублей или приостановление деятельности до 90 суток. Если такие нарушения случились в Москве, Санкт-Петербурге, Московской или Ленинградской областях, штрафы повышаются: от 30 000 до 70 000 рублей для руководителя, от 400 000 до 1 000 000 рублей для организации, приостановление деятельности может составить от 14 до 90 суток. 

        p Важно: мера ответственности умножается на количество иностранных работников, по которым выявлены нарушения.

        h4.article-sec__subtitle Торговые предприятия

        p Торговые предприятия (особенно торговые центры и рынки), в которых работают иностранные граждане без разрешения на трудоустройство, будут нести ответственность наряду с их непосредственными работодателями. 

        p В этом случае штраф для руководителя торгового предприятия составит от 45 000 до 50 000 рублей, для самой организации - от 400 000 до 800 000 рублей (либо приостановление деятельности до 90 суток).

        h4.article-sec__subtitle Если работодатель – принимающая сторона

        p За неправильно оформленные документы на право пребывания, проживания, передвижения и выезда за пределы Российской Федерации иностранных граждан, на руководителя налагается штраф от 40 000 до 50 000 рублей, на организацию - от 400 000 до 500 000 рублей.

        h4.article-sec__subtitle Как избежать санкций 

        p Своевременный аудит трудовой документации по иностранным сотрудникам на соответствие законодательству избавит вас от возможных санкций со стороны проверяющих органов. 

        p Компания PRC оказывает полный комплекс услуг по оформлению и документарному сопровождению персонала из других государств. Наши специалисты в сферах миграционного, трудового и налогового законодательств помогут в корректном оформлении сотрудников из других стран, а также проконсультируют по всем вопросам, связанным с привлечением иностранных трудовых ресурсов.

        a(href="/migration.html").btn.btn-wr Подробнее


    section.article-sec__news
      .container
        .article-sec__news-left
          h3.article-sec__news-title Предыдущая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
          a(href="#").btn.btn-wr Посмотреть
        .article-sec__news-right
          h3.article-sec__news-title Следующая новость
          .article-sec__news-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          p Обеспечиваем контроль за окончанием и сроками проведения повторных медицинских осмотров, получения психоневрологических заключений...
          a(href="#").btn.btn-wr Посмотреть


        



  //end   content
  include ../sections/footer