extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Аутстаффинг'

block content
  include ../sections/header
  
  //begin content
  section.main.autstaffing(data-current="autstaffing")
    include ../sections/tab-blue

    header.autstaffing-header(style="background-image:url('assets/img/autstaffing-header.jpg')")
      .container
        include ../sections/page-header
        .autstaffing-header__text
          p Аутстаффинг представляет собой технологию по использованию персонала вне штата. То есть организация-заказчик не вступает в трудовые  отношения с работниками агентства, оказывающего услуги аутстаффинга. Непосредственно нанятые сотрудники выполняют перечень работ, которые указаны в договоре. А обязанности по ведению кадрового делопроизводства, организации охраны труда и многое другое возложены на HR–агентство.

    //begin autstaffing-blocklist
    section.autstaffing-blocklist
      .autstaffing-blocklist__item
        svg
          use(xlink:href="assets/img/sprite.svg#tab-09")
        span Более 50 объектов в 8 городах России
      .autstaffing-blocklist__item
        svg
          use(xlink:href="assets/img/sprite.svg#tab-10")
        span Полный комплекс по охране труда
      .autstaffing-blocklist__item
        svg
          use(xlink:href="assets/img/sprite.svg#tab-11")
        span 4000 сотрудников на аутстаффинге
      .autstaffing-blocklist__item
        svg
          use(xlink:href="assets/img/sprite.svg#tab-12")
        span 
          |Работаем с любыми вакансиями,
          br
          |в том числе в строительной сфере
    //end autstaffing-blocklist

    //begin autstaffing-tabs
    section.autstaffing-tabs
      .autstaffing-tabs__left
        .autstaffing-tabs__left-inn
          h3.autstaffing-tabs__title Когда необходим аутстаффинг
          span
            strong 
              |C 2016 года мы предоставляем персонал как
              br
              |Аккредитованное Частное Агентство занятости (ЧАЗ).
          br
          a(href="#" style="pointer-events:none;") 116 фз о пройденной аккредитации
          br
          span
            |Использование данной технологии может затрагивать
            br
            |широкий спектр функций и зон ответственности.
          br
          span
            |К числу основных задач, для решения которых
            br
            |применяется аутстаффинг, относятся следующие:

      .autstaffing-tabs__right
        .autstaffing-tabs__right-inn
          .autstaffing-tabs__counter
            span.autstaffing-tabs__counter-tab#autstaffing-tabs__counter-tab 01
            span /
            span.autstaffing-tabs__counter-all#autstaffing-tabs__counter-all 

          ul.autstaffing-tabs__list
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Увеличение численности сотрудников, при ограничениях собственного штатного расписания. Компания PRC может заниматься любыми имеющимися у Вас вакансиями.
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Снижение нагрузки на собственные подразделения в части экономии времени  и ресурсов на:
                ul
                  li исполнение HR-функций,
                  li начисления и выплаты заработной платы,
                  li обслуживания косвенных расходов по спец.одежде и СИЗ,
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Реорганизация бизнеса либо выход на IPO;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Открытие представительства;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Повышение конфиденциальности по оплате труда руководству высшего звена;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Сезонная необходимость в привлечении персонала;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Уход штатных работников в отпуск либо на больничный;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Желание минимизировать риски найма низкоквалифицированных сотрудников;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Желание привлекать трудовую миграцию;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Желание убрать поток линейного персонала из центральных офисов;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Желание оптимизировать систему налогообложения;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Желание уменьшить риски штрафных санкций;
            li.autstaffing-tabs__item
              span.autstaffing-tabs__item-inn
                p Желание компенсировать накладные расходы на персонал.
    //end autstaffing-tabs

    //begin autstaffing-benefit
    section.autstaffing-benefit
      .container
        h3.autstaffing-benefit__title Выгоды аутстаффинга от компании PRC
        .autstaffing-benefit__list
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-01.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Интеграция в бизнес-процессы
              p Аутстаффинг от PRC – это не разовая услуга, а комплексная работа на уровне автоматизации всех программных процессов.
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-02.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Индивидуальное решение для каждого проекта
              p Каждый проект формируется исходя из требований Заказчика. Для решения поставленных задач формируется отдельная команда специалистов. Проекты каждого Заказчика являются индивидуальными и финансово независимыми.
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-03.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Работаем в строительной отрасли
              p Наша компания предлагает эксклюзивную возможность аутстаффинга в строительной сфере. Персонал включает в себя не только линейных сотрудников, но и инженерно-технических работников, руководителей строительных объектов, квалифицированных прорабов.
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-04.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Прозрачная система оплаты и вознаграждения
              p Для наших Заказчиков мы предоставляем подробную отчетность по оплате налогов и отчислений. В числе наших постоянных партнеров – крупные банки. Осуществляем ведение зарплатных проектов: расчет и выплату.
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-05.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Миграционный учет
              p Оказываем услугу по Постановке на миграционный учет иностранных граждан. Являемся аккредитованными лицами при УФМС.Более подробная информация– в этом разделе.
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-06.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Оценка качества подготовки и повышения квалификации
              p Мы осуществляем ряд функций по контролю за профессиональным уровнем специалистов, их обучением и повышением квалификации.квалифицированных прорабов. 
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-07.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Контроль ОМС и ДМС
              p Ведем контроль оформления медицинского страхования персонала (ОМС и ДМС), в том числе от несчастных случаев на производстве и профзаболеваний.
          .autstaffing-benefit__row
            .autstaffing-benefit__item(style="background-image:url('assets/img/benefit/benefit-08.jpg')")
            .autstaffing-benefit__item
              h4.autstaffing-benefit__item-title Кадровое делопроизводство
              p Обеспечиваем документационное оформление кадровых процедур и организуем работу с документами, учет движения персонала и составления отчетности в рамках действующего законодательства. 
    //end autstaffing-benefit

    // begin advantage
    section.autstaffing-advantage
      .container
        .autstaffing-advantage__title.section-title Преимущества

        .autstaffing-advantage-slider
          ul.autstaffing-advantage-slider__list
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Минимизация рисков по управлению
                br
                |персоналом и снижение нагрузки
                br
                |на собственные ресурсы
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Разделение сферы ответственности
                br
                |за соблюдение российского
                br
                |законодательства в отношении персонала
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Гарантированное соблюдение
                br
                |требований по охране труда
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Минимизация рисков по управлению
                br
                |персоналом и снижение нагрузки
                br
                |на собственные ресурсы
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Разделение сферы ответственности
                br
                |за соблюдение российского
                br
                |законодательства в отношении персонала
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Гарантированное соблюдение
                br
                |требований по охране труда
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Минимизация рисков по управлению
                br
                |персоналом и снижение нагрузки
                br
                |на собственные ресурсы
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Разделение сферы ответственности
                br
                |за соблюдение российского
                br
                |законодательства в отношении персонала
            li.autstaffing-advantage-slider__item
              svg
                use(xlink:href="assets/img/sprite.svg#tab-13")
              span
                |Гарантированное соблюдение
                br
                |требований по охране труда

    // end   advantage

    //begin callback-section
    .callback-sec(style="background-image: url('assets/img/autstaffing-callback.jpg');")
      .container
        h3.callback-sec__title Оставьте заявку
        span.callback-sec__subtitle
          |Каждая ситуация особенная.
          br
          |Оставьте ваше имя и способ связи с вами — наш менеджер свяжется с вами, чтобы обсудить все детали.
        form.callback-sec__form
          .callback-sec__form-inn
            .left
              input(type="text" name="name" placeholder="Ваше имя")
              input(type="text" name="phone" placeholder="Номер телефона")
            .right
              textarea(name="message" placeholder="Комментарий")
          .callback-sec__checkbox
            input(type="checkbox" id="agree")
            label(for="agree")
              |Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия 
              a(href="#") Пользовательского соглашения
          input(type="submit" value="Заказать звонок").btn.btn-rr
    //end callback-section

  //end   content
  include ../sections/footer