extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Пятничный менеджер'

block content
  include ../sections/header
  
  //begin content
  section.main.friday(data-current="friday")
    .friday__top
      .container
        include ../sections/page-header

        .friday__filter
          button.btn.btn-wr(data-tezis="all").active Все статьи
          button.btn.btn-wr(data-tezis="company") Новости компании
          button.btn.btn-wr(data-tezis="news") Новости сферы
          button.btn.btn-wr(data-tezis="expert") Экспертное мнение

    // begin friday__list
    section.friday__list
      .friday__masonry#friday__masonry
        .grid-sizer
        // begin article
        .friday__item.friday__item-2-2.friday__item--expert
          h3.friday__item-title Проверки организаций
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p При выездной проверке должен присутствовать законный представитель вашей компании, который сможет письменно или устно дать ответы на вопросы инспектора. Сотрудник УВМ МВД уполномочен проверять документы у всех без исключения сотрудников, сверять сведения в разрешениях на работу с трудовыми документами компании, осуществлять фото и видео съемку...
          a(href="/article-03.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-03.jpg')")
            h3.friday__item-cover-title 
              |Проверки организаций
        // end article
          
        // begin article
        .friday__item.friday__item-1-2.friday__item--expert
          h3.friday__item-title Временный персонал
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Термин «временный персонал» на российском рынке появился сравнительно недавно. Его применяют для обозначения услуги использования сторонних трудовых ресурсов...
          a(href="/article-01.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-01.jpg')")
            h3.friday__item-cover-title Временный персонал
        // end article

        // begin article
        .friday__item.friday__item-1-2.friday__item--news
          h3.friday__item-title Аутсорсинг и аутстаффинг
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Услуги аутсорсинга и аутстаффинга пришли на рынок России еще в конце XX века, однако многие до сих пор путают эти термины....
          a(href="/article-02.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-02.jpg')")
            h3.friday__item-cover-title Аутсорсинг и аутстаффинг
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--company
          h3.friday__item-title Аутстаффинг персонала
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p В начале прошлого года федеральный закон №116 ввел в законодательное поле...
          a(href="/article-04.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-04.jpg')")
            h3.friday__item-cover-title Аутстаффинг персонала
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--company
          h3.friday__item-title Выгоден ли аутстаффинг?
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Аутстаффинг – эффективная кадровая технология вывода сотрудников за штат или привлечение штата извне...
          a(href="/article-05.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-05.jpg')")
            h3.friday__item-cover-title Выгоден ли аутстаффинг?
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--expert
          h3.friday__item-title Независимый аудит
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Независимый кадровый аудит – это всесторонняя проверка процессов и документов кадрового отдела на соответствие...
          a(href="/article-06.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-06.jpg')")
            h3.friday__item-cover-title Независимый аудит
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--news
          h3.friday__item-title Миграционный аудит
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Персонал из других государств оформляется в штат с особым пакетом документов, куда входит...
          a(href="/article-07.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-07.jpg')")
            h3.friday__item-cover-title Миграционный аудит
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--expert
          h3.friday__item-title Применение аутсорсинга
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p «Взросление» и стабилизация прибыльности бизнеса в сфере связи ставит перед компаниями новые задачи...
          a(href="/article-08.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-08.jpg')")
            h3.friday__item-cover-title Применение аутсорсинга
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--company
          h3.friday__item-title Защита предприятия
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Основной целью схемы работы с персоналом, которую принято называть «аутстаффингом», является сокращение...
          a(href="/article-09.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-09.jpg')")
            h3.friday__item-cover-title Защита предприятия
        // end article

        // begin article
        .friday__item.friday__item-1-1.friday__item--news
          h3.friday__item-title Как происходит подбор персонала?
          .friday__item-date
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span 12.07.2017
          .friday__item-text
            p Подбор персонала – один их ключевых этапов создания команды единомышленников, от которой будет зависеть...
          a(href="/article-10.html").btn.btn-bw Посмотреть
          .friday__item-cover(style="background-image:url('assets/img/friday-sec/friday-sec-10.jpg')")
            h3.friday__item-cover-title Как происходит подбор персонала?
        // end article


    // end   friday__list
  //end   content
  include ../sections/footer