extends ../_template

block variables
  - var title = 'PRC'

block content
  include ../sections/header
  
  //begin content
  section.main.index
    include ../sections/top-slider
    include ../sections/tab-blue
    include ../sections/podbor
    include ../sections/map
    include ../sections/guarantees
    .container
      h3.section-title Пятничный менеджер
    include ../sections/friday-sec
    .container
      h3.section-title Наши клиенты
    include ../sections/clients-sec
  //end   content
  include ../sections/footer