extends ../_template

block variables
  - var title = 'Lets Go'

block content
  include ../sections/header
  
  //begin content
  section.main
    include ../sections/top-slider
    include ../sections/tab-blue
    include ../sections/podbor
    include ../sections/map
    include ../sections/guarantees
    include ../sections/friday-sec
    include ../sections/clients-sec
  //end   content
  include ../sections/footer