extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Отзыв компании "Чайная ложка"'

block content
  include ../sections/header
  
  //begin content
  section.main.one-client
    .one-client__top
      .container
        include ../sections/page-header

        .one-client__top-inn
          .one-client__top-left
            h3.one-client__title Чайная ложка
            span.one-client__subtitle Сеть ресторанов
            .one-client__table
              .one-client__table-row
                svg
                  use(xlink:href="assets/img/sprite.svg#clock")
                span Постоянный партнер с 2012 года
              .one-client__table-row
                svg
                  use(xlink:href="assets/img/sprite.svg#document")
                span 12 000 трудовых контрактов
              .one-client__table-row
                svg
                  use(xlink:href="assets/img/sprite.svg#people")
                span Выход 40 человек в смену

            h4.one-client__services-title Оказанные услуги:
            .one-client__services
              .one-client__services-item
                svg
                  use(xlink:href="assets/img/sprite.svg#check")
                span Аутстаффинг
              .one-client__services-item
                svg
                  use(xlink:href="assets/img/sprite.svg#check")
                span Стажировка
              .one-client__services-item
                svg
                  use(xlink:href="assets/img/sprite.svg#check")
                span Аутсорсинг
              .one-client__services-item
                svg
                  use(xlink:href="assets/img/sprite.svg#check")
                span Трудовая миграция

          .one-client__top-right
            img(src="assets/img/one-client.jpg", alt="client")

    .one-client__director
      .container
        .one-client__director-left
          .one-client__director-pic
            img(src="assets/img/one-client-director.jpg", alt="director")
            .one-client-scan
              img(src="assets/img/one-client-scan.jpg", alt="scan copy")

        .one-client__director-right
          h3.one-client__director-title Мурыгина Татьяна
          span.one-client__director-subtitle Директор по персоналу
          .one-client__director-text
            svg
              use(xlink:href="assets/img/sprite.svg#quotes")
            p Компания PRC является нашим постоянным партнером по предоставлению линейного персонала в наши рестораны более года.
            p За прошедший год, ежедневный выход персонала, предоставленного компании PRC увеличился с 10 до 40 человек в смену, тем самым PRC значительно помог нам решить проблему постоянной нехватки собственного персонала в ресторанах, путем создания постоянно стабильного потока качественных кандидатов.
            p Компания PRC проявила себя очень гибко и креативно в части адаптации под принятые в компании Чайная ложка процессов подбора и стажировки кандидатов. Так, например, менеджеры компании PRC присутствуют на собеседованиях и стажировке новых сотрудников. Это позволяет на месте оформлять отобранных кандидатов, что в значительной мере сокращает временной отрезок оформления, и делает процесс вывода в рестораны новых сотрудников максимально оперативным.
            p Следует отметить особый профессионализм и экспертизу компании PRC в вопросах трудовой миграции, кропотливую работу ответственных лиц компании в части контроля окончания разрешительных документов, их своевременную и оперативную замену.
            p Ответственные за проект сотрудники компании PRC готовы в любой момент помочь решить срочный вопрос, проконсультировать нас по сложным моментам. Мы планируем продолжить партнерство с компанией PRC и готовы рекомендовать эту компанию, как экспертов, готовых ответить на любые запросы по линейному персоналу! 
 
    .container
      h3.one-client__section-title Другие отзывы

    // begin clients-sec
    section.clients-sec
      .clients-sec__wrap
        //  begin client item 01
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-01.jpg')")
            h3.clients-sec__cover-title KFC

          h3.clients-sec__title KFC
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 01

        //  begin client item 02
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-02.jpg')")
            h3.clients-sec__cover-title Pizza Hut

          h3.clients-sec__title Pizza Hut
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 02

        //  begin client item 03
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-03.jpg')")
            h3.clients-sec__cover-title Чайная ложка

          h3.clients-sec__title Чайная ложка
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 03

        //  begin client item 04
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-04.jpg')")
            h3.clients-sec__cover-title Деловые линии

          h3.clients-sec__title Деловые линии
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 04

        //  begin client item 05
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-05.jpg')")
            h3.clients-sec__cover-title Юлмарт

          h3.clients-sec__title Юлмарт
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 05

        //  begin client item 06
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-06.jpg')")
            h3.clients-sec__cover-title Типография Индустрия Цвета

          h3.clients-sec__title Типография Индустрия Цвета
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 06

        //  begin client item 07
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-07.jpg')")
            h3.clients-sec__cover-title ЦДС

          h3.clients-sec__title ЦДС
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 07

        //  begin client item 08
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-08.jpg')")
            h3.clients-sec__cover-title Термекс

          h3.clients-sec__title Термекс
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 12 000 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Аутсорсинг
            span Стажировка
            span Трудовая миграция
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="#") Читать отзывы
        //  end client item 08
    // end   clients-sec
  //end   content
  include ../sections/footer