extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Охрана труда'

block content
  include ../sections/header
  
  //begin content
  section.main.safety
    include ../sections/tab-blue

    header.safety-header(style="background-image:url('assets/img/safety-header.jpg')")
      .container
        include ../sections/page-header
        .safety-header__text
          p В основе политики любого предприятия, независимо от масштабов производства и объемов финансирования, подразумевается обеспечение комфортных и безопасных условий труда для своих работников.

    // begin safety advantage slider
    section.safety-advantage
      .container
        .safety-advantage__title Услуга компании PRC по охране труда (ОТ) поможет Вам

        .safety-advantage-slider
          ul.safety-advantage-slider__list
            li.safety-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-16.jpg')")
              span 01
              .safety-advantage-slider__text
                |Оптимизировать организационные
                br
                |и финансовые расходы за счет приведения
                br
                |ОТ в соответствие нормативным требованиям
            li.safety-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-17.jpg')")
              span 02
              .safety-advantage-slider__text
                |Наладить систему охраны труда либо
                br
                |определить эффективность 
                br
                |функционирования действующей ОТ
            li.safety-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-18.jpg')")
              span 03
              .safety-advantage-slider__text
                |Разработать внутренние документы, приказы, 
                br
                |инструкции, соответствующие требованиям
                br
                |законодательства
            li.safety-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-04-1.jpg')")
            li.safety-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-19.jpg')")
              span 04
              .safety-advantage-slider__text
                |Минимизировать риски привлечения
                br
                |к ответственности при проведении проверки 
                br
                |либо несчастном случае
            li.safety-advantage-slider__item(style="background-image:url('assets/img/advantage-slider/advantage-20.jpg')")
              span 05
              .safety-advantage-slider__text
                |Контролировать механизмы ОТ с выявлением 
                br
                |сильных и уязвимых сторон системы
                br
                |управления ОТ предприятия
    // end   safety advantage slider


    //begin safety-tabs
    section.safety-tabs
      .container
        h3.safety-tabs__title Что включает в себя охрана труда

      .container.safety-tabs__counter-wrap
        .safety-tabs__counter
          span.safety-tabs__counter-tab#safety-tabs__counter-tab 01
          span /
          span.safety-tabs__counter-all#safety-tabs__counter-all 

        ul.safety-tabs__list
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 01 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 02 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 03 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 04 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 05 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 06 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 07 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 08 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 09 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 10 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 11 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 12 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 13 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.
          li.safety-tabs__item
            h5.safety-tabs__item-title Проведение специальной оценки условий труда (СОУТ); разработка необходимой документации
            p 14 В общем понимании СОУТ – комплекс реализуемых в несколько этапов мероприятий по определению вредных / опасных факторов, а также оценке степени их воздействия на персонал.
            p По итогам СОУТ готовится отчет и осуществляется работка предусмотренной законодательством документации: инструкций, приказов, нормативов и т.д.

    //end safety-tabs


    //begin callback-section
    .callback-sec(style="background-image: url('assets/img/safety-callback.jpg');")
      .container
        h3.callback-sec__title Оставьте заявку
        span.callback-sec__subtitle
          |Каждая ситуация особенная.
          br
          |Оставьте ваше имя и способ связи с вами — наш менеджер свяжется с вами, чтобы обсудить все детали.
        form.callback-sec__form
          .callback-sec__form-inn
            .left
              input(type="text" name="name" placeholder="Ваше имя")
              input(type="text" name="phone" placeholder="Номер телефона")
            .right
              textarea(name="message" placeholder="Комментарий")
          .callback-sec__checkbox
            input(type="checkbox" id="agree")
            label(for="agree")
              |Ставя отметку, я даю своё согласие на обработку моих персональных данных в соответствии с законом № 152-ФЗ "О персональных данных" от 27.07.2006 и принимаю условия 
              a(href="#") Пользовательского соглашения
          input(type="submit" value="Заказать звонок").btn.btn-rr
    //end callback-section

  //end   content
  include ../sections/footer