extends ../_template

block variables
  - var title = 'Отзывы наших клиентов'
  - var descr = 'Отзывы наших клиентов'
  - var pageHeaderTitle = 'Наши клиенты'

block content
  include ../sections/header
  
  //begin content
  section.main.clients(data-current="clients")
    .clients__top
      .container
        include ../sections/page-header

    // begin clients-sec
    section.clients-sec
      .clients-sec__wrap
        //  begin client item 01
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-01.jpg')")
            h3.clients-sec__cover-title KFC

          h3.clients-sec__title KFC
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 500 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 350 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Миграционный учет
            span Охрана труда
            span Стажировка
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-kfc.html").clients-sec__item-link
        //  end client item 01

        //  begin client item 02
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-02.jpg')")
            h3.clients-sec__cover-title Pizza Hut

          h3.clients-sec__title Pizza Hut
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 30 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 22 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Миграционный учет
            span Охрана труда
            span Стажировка
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-pitstsa-hat.html").clients-sec__item-link
        //  end client item 02

        //  begin client item 05
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-05.jpg')")
            h3.clients-sec__cover-title Юлмарт

          h3.clients-sec__title Юлмарт
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 380 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 260 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Охрана труда

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-yulmart.html").clients-sec__item-link
        //  end client item 05

        //  begin client item 04
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-04.jpg')")
            h3.clients-sec__cover-title Деловые линии

          h3.clients-sec__title Деловые линии
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2013 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 1 800 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 1 250 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Миграционный учет
            span Охрана труда
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-delovyie-linii.html").clients-sec__item-link
        //  end client item 04
        
        //  begin client item 07
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-07.jpg')")
            h3.clients-sec__cover-title ЦДС

          h3.clients-sec__title ЦДС
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2016 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 1 800 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 1 350 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Миграционный учет
            span Охрана труда
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-cds.html").clients-sec__item-link
        //  end client item 07
        
        //  begin client item 06
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-06.jpg')")
            h3.clients-sec__cover-title Типография Индустрия Цвета

          h3.clients-sec__title Типография Индустрия Цвета
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2013 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 120 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 65 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Аутстаффинг
            span Миграционный учет
            span Охрана труда
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-tipografiya-industriya-tsveta.html").clients-sec__item-link
        //  end client item 06

        //  begin client text
        .clients-sec__item.clients-sec__item-text
          p Вот уже более 10 лет компания PRC работает с крупными организациями и лидерами отраслей. Наибольший профессиональный опыт мы имеем в следующих сферах:
          ul
            li Складская логистика
            li Производство
            li Строительство
            li Ресторанная розница и др.

        //  end client text

        //  begin client item 09
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-09.jpg')")
            h3.clients-sec__cover-title Tubex

          h3.clients-sec__title Tubex
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2016 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 180 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 90 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Миграционный учет
            span Охрана труда
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-tubeks.html").clients-sec__item-link
        //  end client item 09

        //  begin client item 10
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-10.jpg')")
            h3.clients-sec__cover-title Онлайн-Трейд

          h3.clients-sec__title Онлайн-Трейд
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2016 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 60 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 30 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-online-treyd.html").clients-sec__item-link
        //  end client item 10

        //  begin client item 08
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-08.jpg')")
            h3.clients-sec__cover-title Термекс

          h3.clients-sec__title Термекс
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2013 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 140 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 30 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Миграционный учет
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-termeks.html").clients-sec__item-link
        //  end client item 08

        //  begin client item 11
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-11.jpg')")
            h3.clients-sec__cover-title Технопласт

          h3.clients-sec__title Технопласт
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Постоянный партнер с 2016 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 190 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 60 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Аутстаффинг
            span Миграционный учет
            span Стажировка
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-tehnoplast.html").clients-sec__item-link
        //  end client item 11

        //  begin client item 12
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-12.jpg')")
            h3.clients-sec__cover-title Дикси

          h3.clients-sec__title Дикси
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2013 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 450 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 75 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Стажировка

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-diksi.html").clients-sec__item-link
        //  end client item 12

        //  begin client item 13
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-13.jpg')")
            h3.clients-sec__cover-title X5 retail Group

          h3.clients-sec__title X5 retail Group
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2013 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 590 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 90 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Стажировка

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-x5-retail-group.html").clients-sec__item-link
        //  end client item 13

        //  begin client text
        .clients-sec__item.clients-sec__item-text
          span Компания PRC обеспечивает полный цикл работ по кадровому обеспечению: от массового подбора персонала, проверки легальности документов до аудита кадрового документооборота компании Клиента.
          p
            strong Первыми в России мы разработали уникальную услугу «Аутсорсинг бухгалтеров».
            br
            strong Аутстаффинг для строительных компаний мы осуществляем с получением строительных рецензий (СРО и пр.).
        //  end client text

        //  begin client item 14
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-14.jpg')")
            h3.clients-sec__cover-title Икея

          h3.clients-sec__title Икея
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2015 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 45 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 10 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Стажировка

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-ikea.html").clients-sec__item-link
        //  end client item 14

        //  begin client item 15
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-15.jpg')")
            h3.clients-sec__cover-title БТК групп

          h3.clients-sec__title БТК групп
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 90 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 20 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Охрана труда
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-btk-grupp.html").clients-sec__item-link
        //  end client item 15

        //  begin client item 03
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-03.jpg')")
            h3.clients-sec__cover-title Чайная ложка

          h3.clients-sec__title Чайная ложка
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 120 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 40 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Аутстаффинг
            span Стажировка
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-chaynaya-lozhka.html").clients-sec__item-link
        //  end client item 03

        //  begin client item 16
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-16.jpg')")
            h3.clients-sec__cover-title ЛЭК

          h3.clients-sec__title ЛЭК
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 550 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 450 человек в смену

          .clients-sec__breadcrumbs
            span Аутстаффинг
            span Миграционный учет
            span Охрана труда
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-l1.html").clients-sec__item-link
        //  end client item 16

        //  begin client item 17
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-17.jpg')")
            h3.clients-sec__cover-title СевЗапСтрой

          h3.clients-sec__title СевЗапСтрой
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 75 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 50 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Аутстаффинг
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-sevzapstroy.html").clients-sec__item-link
        //  end client item 17

        //  begin client item 18
        .clients-sec__item
          .clients-sec__cover(style="background-image:url('assets/img/clients-sec/client-18.jpg')")
            h3.clients-sec__cover-title Statoil

          h3.clients-sec__title Statoil
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            | Партнер с 2012 года
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#document")
            | 30 трудовых контрактов
          span.clients-sec__item-adantage
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            | Выход 10 человек в смену

          .clients-sec__breadcrumbs
            span Аутсорсинг
            span Миграционный учет
            span Трудовая миграция

          .clients-sec__review
            svg
              use(xlink:href="assets/img/sprite.svg#review")
            a(href="") Читать отзывы
          a(href="/client-statoyl.html").clients-sec__item-link
        //  end client item 18
    // end   clients-sec
  //end   content
  include ../sections/footer