extends ../_template

mixin team-list__item(image, title, position)
  //begin team-list__item
  .team-list__item
    .team-list__cover(style="background-image:url('assets/img/team/team-" + image + ".jpg')")
      h3.team-list__cover-title
        |Александр
        br
        |Демидов

    h3.team-list__title Александр Демидов
    p Руководитель отдела по услугам аутсорсинга
    a(href="#").btn.btn-ww.team-list__link Подробнее об услуге
  //end team-list__item

block variables
  - var title = 'Наша команда'
  - var descr = 'Наша команда'
  - var pageHeaderTitle = 'Наша команда'

block content
  include ../sections/header
  
  //begin content
  section.main.team(data-current="team")
    .team__top
      .container
        include ../sections/page-header

    // begin team-sec
    section.team-sec
      .container
        .team-list
          +team-list__item('01')
          +team-list__item('02')
          +team-list__item('03')
          +team-list__item('04')
          +team-list__item('05')
          +team-list__item('06')
          +team-list__item('07')
          +team-list__item('08')
    // end   team-sec
  //end   content
  include ../sections/footer