extends ../_template

block variables
  - var title = 'PRC'
  - var pageHeaderTitle = 'Вакансии'

block content
  include ../sections/header
  
  //begin content
  section.main.vacancies(data-current="vacancies")
    header.vacancies-header
      .container
        include ../sections/page-header
        h4.vacancies-header__subtitle Уважаемый соискатель!
        .vacancies-header__text
          p Если Вы хотя бы раз сталкивались с необходимостью поиска работы, то знаете, как много времени и сил для этого требуется. Зачастую размещение резюме на интернет-порталах, в газетах не приносит результата либо Вам поступают сомнительные предложения о трудоустройстве.

    // begin vacancies-search 
    section.vacancies-search
      .container
        h3.vacancies-search__title Поиск вакансии
        form.vacancies-search__form
          .vacancies-search__select
            select(name="category")
              option(value="Категория вакансии") Категория вакансии
              option(value="Категория вакансии") Категория вакансии 1
              option(value="Категория вакансии") Категория вакансии 2
          .vacancies-search__select
            select(name="category")
              option(value="Должность") Должность
              option(value="Должность") Должность 1
              option(value="Должность") Должность 2
          .vacancies-search__select
            select(name="category")
              option(value="Тип занятости") Тип занятости
              option(value="Тип занятости") Тип занятости 1
              option(value="Тип занятости") Тип занятости 2
          .vacancies-search__select
            select(name="category")
              option(value="Город") Город
              option(value="Город") Город 1
              option(value="Город") Город 2
          .vacancies-search__submit
            input(type="submit")
            svg
              use(xlink:href="assets/img/sprite.svg#search")

        .vacancies-search__result
          span Найдено 235 вакансий

    // end vacancies-search 

    // begin vacancies-list 
    section.vacancies-list
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item.vacancies-item__resume(style="background-image:url('assets/img/vacancies-item.jpg')")
        h4.vacancies-item__resume-title Если Вы не нашли открытой вакансии под себя, оставьте свое резюме
        button.btn.btn-rr.popup-open(data-open="vacancies") Оставить заявку

      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
      .vacancies-item
        .vacancies-item__cover
          .vacancies-item__logo(style="background-image:url('assets/img/logo-tea.png')")
          h3.vacancies-item__title Комплектовщик вахта
          .vacancies-item__pay
            span от 45 000
            span.rouble )
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#people")
            span Комплектовщик
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#marker")
            span Санкт-Петербург, Василеостровский р-н
          .vacancies-item__row
            svg
              use(xlink:href="assets/img/sprite.svg#clock")
            span Полная занятость
        .vacancies-item__tab
          .vacancies-item__tab-btn-row
            span.vacancies-item__tab-btn.active(data-tab="duty") Должностные обязанности
            span.vacancies-item__tab-btn(data-tab="demands") Требования
            span.vacancies-item__tab-btn(data-tab="conditions") Наши условия
          .vacancies-item__tab-text.vacancies-item__tab-text-duty.active
            span отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-demands
            span 2отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          .vacancies-item__tab-text.vacancies-item__tab-text-conditions
            span 3отбор продукции
            span разгрузка продукции
            span сборка продукции по инструкции
            span размещение внутри зоны приемки
            span расстановка на складе по плану
            span погрузочно-разгрузочные работы
            span разгрузка продукции
            span размещение внутри зоны приемки
          button.btn.btn-bw Откликнуться
      
    // end vacancies-list 

    // begin vacancies-more
    section.vacancies-more
      .container 
        button.btn.btn-wr Еще вакансии

        p Компания PRC на протяжении 10 лет является ведущим провайдеров услуг по подбору сотрудников в сферы строительства, производства, розничной, оптовой торговли и других отраслей. В числе наших постоянных клиентов компании – лидеры российского бизнеса.
        p Если Вы желаете работать в крупной организации, попасть в нашу уникальную базу кандидатов и Вам интересны представленные вакансии, то Вы можете оставить заявку и разместить резюме на нашем сайте.
        p
          strong Мы гарантируем максимальную финансовую и юридическую безопасность Вашего трудоустройства!
    // end vacancies-more

  //end   content
  include ../sections/footer