.agree {
  background-color: #f4f4f6;
}
.agree-text {
  padding-bottom: 100px;

  column-count: 2;
  column-gap: 40px;
  @include max(600) {
    column-count: 1;
  }
  p {
    line-height: 1.66;
    display: inline-block;
    margin-bottom: 20px;
  }
  strong {
    color: $title;
  }
}
