.contacts-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.map-contacts {
  height: 650px;
}
//begin contacts-info
.contacts-info {
  padding: 100px 0 40px 0;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
.contacts-info__left,
.contacts-info__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding-bottom: 90px;

  @include max(840) {
    width: 100%;
  }
  .btn {
    margin-top: auto;
    padding: 0 55px;
  }
}
.contacts-info__left {
  padding-right: 15px;

  @include max(840) {
    padding-left: 0;
  }
}
.contacts-info__right {
  padding-left: 15px;

  @include max(840) {
    padding-left: 0;
  }
}
.contacts-info__title {
  font-family: $font-medium;
  font-size: 28px;
  margin-bottom: 30px;
  color: $title;
}
.contacts-info__row {
  display: flex;
  span {
    font-family: $font-light;
    font-size: 15px;
    min-width: 120px;
    margin-bottom: 10px;
    color: $text;
    a {
      font-family: $font;
      display: inline-block;
      margin-bottom: 5px;
      text-decoration: none;
      color: $title;
      &:hover {
        text-decoration: none;
        color: $brand;
      }
    }
  }
}
.contacts-info__mail {
  text-decoration: underline;
}
.contacts-info__phone {
  font-family: $font-medium;
  font-weight: 600;
}
span.contacts-info__adress {
      color: $title;
      font-family: $font;
  display: inline-block;
  padding-bottom: 20px;
}
//end contacts-info

//begin contacts-slider
.contacts-slider__list {
  width: 100%;
  margin: 30px 0 0 0;
  padding: 0;
  max-width: 650px;
}
.contacts-slider__item {
  width: 100%;
  height: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.contacts-slider__list {
  .slick-prev,
  .slick-next {
    top: 100%;
    width: 80px;
    height: 80px;
    transition: all .5s;
    transition: background-color .5s;
    transform: translateY(-100%);
    background-color: $brand;
    background-image: none;
    &::before,
    &::after {
      position: absolute;
      content: '';
      transform: rotate(45deg);
      background-color: #fff;
    }
    &::before {
      width: 2px;
      height: 17px;
    }
    &::after {
      width: 17px;
      height: 2px;
    }
    &:hover {
      background-color: $brand-hov;
    }
  }
  .slick-prev {
    z-index: 10;
    left: 0;
    &::before {
      top: 26px;
      left: 40px;
    }
    &::after {
      top: 45px;
      left: 32px;
    }
  }
  .slick-next {
    right: 0;
    &::before {
      top: 38px;
      left: 40px;
    }
    &::after {
      top: 34px;
      left: 32px;
    }
  }
  .slick-disabled {
    transition: all .5s;
    pointer-events: none;
    opacity: 0;
  }
}
//end contacts-slider
